grant {
	permission java.util.PropertyPermission "user.dir","read";
	permission java.io.FilePermission "tests/*","read";	
	permission java.util.PropertyPermission "log4j.*","read";
	permission java.lang.RuntimePermission "getClassLoader";
	permission java.lang.RuntimePermission "shutdownHooks";
	
	// java.io.Console needs this
	//permission java.lang.RuntimePermission "readFileDescriptor"
	//permission java.lang.RuntimePermission "writeFileDescriptor"
};
