grant {
	permission java.util.PropertyPermission "user.home","read";
	permission java.io.FilePermission "/home/praktomat/junit.properties", "read";
	permission java.io.FilePermission "/home/tester/junit.properties", "read";
	permission java.io.FilePermission "${user.dir}${/}data${/}-", "read";            // user.dir is the current working directory where JVM was started. , see https://docs.oracle.com/javase/tutorial/essential/environment/sysprop.html
	permission java.lang.RuntimePermission "accessDeclaredMembers";
	permission java.lang.RuntimePermission "getStackTrace";


	//Console IO
	permission java.lang.RuntimePermission "setIO";

        // enable to use JUNIT-PARAMS
	permission java.lang.RuntimePermission "writeFileDescriptor";
	permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
	permission java.util.PropertyPermission "JUnitParams.flat","read";

	//to enable JUNIT and JUNIT-PARAMS Tests for nested unnamed classes
	permission java.lang.RuntimePermission "createSecurityManager";
	permission java.lang.RuntimePermission "setSecurityManager";
	permission java.io.FilePermission "/home/praktomat/inst/2021t/work-data/SolutionSandbox/*", "read"; //TODO: update for every instance: how we can do this more generic?
};
