grant {
	permission java.util.PropertyPermission "user.home","read";
	permission java.io.FilePermission "/home/praktomat/junit.properties", "read";
	permission java.io.FilePermission "/home/tester/junit.properties", "read";
	permission java.io.FilePermission "${user.dir}${/}data${/}-", "read";
	permission java.lang.RuntimePermission "accessDeclaredMembers";
	permission java.lang.RuntimePermission "getStackTrace";

	//Console IO
	permission java.lang.RuntimePermission "setIO";
	
        // Funktionalitaet genutzt von JUNIT-Params konfigurieren
	permission java.lang.RuntimePermission "writeFileDescriptor";
	permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
	permission java.util.PropertyPermission "JUnitParams.flat","read";

	permission java.lang.RuntimePermission "createSecurityManager"; //HBRS_2015w-bcs/HBRS_2015w-bcs
	permission java.lang.RuntimePermission "setSecurityManager"; //HBRS_2015w-bcs/HBRS_2015w-bcs
	permission java.io.FilePermission "/home/praktomat/inst/2017s/work/SolutionSandbox/*", "read"; //TODO: update for every instance
	

};
