{% extends "base.html" %}
{% load highlight %} {% load i18n  %}
{% block styles %}{{ block.super }}
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}static/styles/pygments_friendly.css" />
{% endblock %}
{% block script %}{{ block.super }}
	<script type="text/javascript" src="{{MEDIA_URL}}static/script/jquery.js"></script>
	<script type="text/javascript">
		  $(document).ready(function(){
				$("h3").css('cursor', 'pointer').click(function () {
					$(this).next("div").slideToggle("fast");
			});
			// Stop the link click from doing its normal thing
			return false;
		  });
	</script>
{% endblock %}
{% block content %}

<a href={% url solution_list task_id=solution.task.id%}> < {% trans "Back to solution list" %}</a>

<h1>{{solution.task.title}}</h1>

<h2>{% trans "Results" %}</h2>

{% if solution.accepted %}{% if solution.warnings %}
	<p class="warning">{% trans "You have passed all required tests. Nevertheless you've got at least one warning and should consider correcting it before submitting." %} </p>
{% else %}
	<p class="passed">{% trans "Congratulations you have passed all required tests. Please submit your solution." %}</p>
{% endif %}{% else %}
	<p class="error">{% trans "Sorry, you haven't passed all required tests. Please corect the errors below and try again!" %}</p>
{% endif %}

{% for result in solution.publicCheckerResults %}
	<div class="result">
		<h3>{{result.title}}: <span class="{% if result.passed %} passed {% else %}{% if result.required %} error {% else %} warning {% endif %}{% endif %}">
		{{result.passed|yesno:_("passed, failed")}}</span></h3>
		<div class="log">{{result.log|safe}}</div>
	</div>
{%endfor%}

<h2>{% trans "Files" %}</h2>
{% for solutionfile in solution.solutionfile_set.all%}
	<div class="file">
		<h3 href="#">{{solutionfile}}</h3>
		<div class="content">{{solutionfile.content|highlight_table:solutionfile.file.name}}</div>
	</div>
{%endfor%}

{% if submission_possible %}
	<br/><br/>
	<form method="post">
		<input type="submit" value="Submit" /	{% if not solution.accepted %} disabled {% endif %}>
	</form>
{% endif %}

{% endblock %}