{% extends "base.html"%}
{% block content %} {% load i18n %}

<a href={% url task_list %}> < {% trans "Back to task list" %}</a>

<h2>{{task.title}}</h2>

{% if submission_possible %}
	<h3>{%trans "Upload solution" %}</h3> 
	<a>{%trans "Time left:" %} {{ task.submission_date|timeuntil }}</a><br/><br/>
	<form enctype="multipart/form-data" method="post" action="">
		<table>
			{{ formset.non_form_errors }}
			{{ formset }}
			<tr>
				<td></td>
				<td><input type="submit" value="upload" /></td>
			</tr>
		</table>
	</form>
{% endif %}

{% if solutions %}
	<h3>{% trans "Submitted solutions" %}</h3>
	{% for solution in solutions %}
		{% if solution.final%}
			<b>fin</b>
		{% else %}{% if solution.accepted%}
			<b>acc</b>
		{% else %}{% if solution.warnings%}
			<b>warn</b>
		{% else %}
			<b>err</b>
		{% endif %}{% endif %}{% endif %}
		{{solution.creation_date|date}} {{solution.creation_date|time}} <a href={% url solution_detail solution_id=solution.id%}>Solution {{forloop.counter}}</a><br/>
		
		{% for attest in solution.attestation_set.all %}
			{% if attest.final %}
				<a href={% url view_attestation attestation_id=attest.id%}>Attestation by {{attest.author.get_full_name}}</a><br/>
			{% endif %}
		{%endfor%}
		
	{%endfor%}
{% endif %}

{% endblock %}