{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{MEDIA_URL}}frameworks/jquery/jquery.js"></script>
<script type="text/javascript">	
function resize_iframe(){
	document.getElementById('phpbb').height=window.frames["phpbb"].document.body.scrollHeight+20
} 
</script>
{% endblock %}
{% block breadcrumbs %}{{block.super}} > Forum {% endblock %}
{% block content %} <div id='task_list'>
<div>
	<a href="{{phpbburl}}">Open in full window</a>
</div>

<div>
	<iframe src="{{phpbburl}}" width="100%" height="400" style="overflow-x:auto; overflow-y:hidden" name="phpbb" id="phpbb" onload="resize_iframe()">
</div>
{% endblock %}
