{% extends "base.html" %}
{% load highlight %}{% load i18n  %}{% load in_group %} 
{% block extrahead %}{{ block.super }}
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/styles/pygments_friendly.css" />
	<script type="text/javascript">
		  $(document).ready(function(){
				$("h3").css('cursor', 'pointer').click(function () {
					$(this).next("div").slideToggle("fast");
			});
			// Stop the link click from doing its normal thing
			return false;
		  });
	</script>
{% endblock %}
{% block breadcrumbs %} {{block.super}} > <a href={% url taskDetail task_id=attest.solution.task.id%}>{{attest.solution.task.title}}</a> 
{% if user|in_group:"Tutor"%}
	> <a href={% url attestation_list attest.solution.task_id %}>My attestations</a> 
	> <a href={% url edit_attestation attest.id %}>Attestation</a>
	> Preview
{% else %}
	> <a href={% url solution_list task_id=attest.solution.task.id%}>My solutions</a> 
	> <a href={% url solution_detail solution_id=attest.solution.id%}>Solution {{attest.solution.id}}</a> 
	> Attestation {{attest.id}}
{% endif %}
{% endblock %}
{% block content %}<div id='attestation_view'>

<h1>{% trans "Attestation"%}: {{attest.solution.task.title}}</h1>
<p id='author'>by {{attest.author.get_full_name}}</p>

{% if attest.public_comment %}
	<div class="section">
		<h2>Comment</h2>
		<p>{{attest.public_comment}}</p>	
	</div>
{% endif %}

{% if attest.ratingresult_set.all %}
	<div class="section">
		<h2>Ratings</h2>
		{% for ratingresult in attest.ratingresult_set.all%}
			<div class="result">
				<h3 href="#">{{ratingresult.aspect.name}}: <span class="mark">{{ratingresult.mark}}</h3>
				<p>{{ratingresult.aspect.description}}</p>
			</div>
		{%endfor%}
	</div>
{% endif %}

<h2>{% trans "Annotated Files" %}</h2>
{% for anotfile in attest.annotatedsolutionfile_set.all%}
	<div class="file">
		<h3 href="#">{{anotfile}}</h3>
		<div class="content">{{anotfile.content_diff|highlight_table:anotfile.solution_file.file.name|highlight_diff}}</div>
	</div>
{%endfor%}

{% if submitable %}
	<br/><br/>
	<form method="post">{% csrf_token %}
		{% include "forms/form_as_div.html" %}
		<input type="submit" value="Save" />
		<input type="button" value="Edit again" onClick="parent.location='{% url edit_attestation attest.id %}'">
	</form>
{% endif %}
{% endblock %}