{% extends "base.html" %}
{% load highlight %} {% load i18n  %}
{% block extrahead %}{{ block.super }}
	{% include "helper/jquery-ui.html" %}
	<script type="text/javascript">
		$(function() {
			$("#progressbar").progressbar({
				value: {{solution_count}} / {{user_count}} * 100
			});
		});
	</script>
{% endblock %}
{% block content %}

<a href={% url task_list %}> < {% trans "Back to task list" %}</a>

<h1>{{task.title}}</h1>

<h2>{% trans "Statistics" %}</h2>

{% blocktrans %} {{solution_count}} of {{user_count}} users have finished this task. {% endblocktrans %}
<div id="progressbar"></div>

{% endblock %}