language: python

python:
 - "3.5"

install:
 - sudo apt-get update
 - sudo apt-get install swig libsasl2-dev libssl-dev libpq-dev
 - sudo apt-get install openjdk-6-jdk dejagnu checkstyle gcj-jdk
 - sudo apt-get install phantomjs
 - sudo apt-get install r-base
 - pip install -r requirements.txt

script:
 - ./src/manage-test.py test accounts attestation checker configuration solutions tasks
