[buildout]
parts = python praktomat
develop = .
eggs = praktomat

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = ${buildout:eggs}

[praktomat]
recipe 		= djangorecipe
version 	= 1.1.1
project 	= src/praktomat
projectegg	= praktomat
settings 	= settings
wsgi 		= true
#fcgi 		= true
eggs 		= ${buildout:eggs}