<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<script type="text/javascript" src="index-static/jquery.js"></script>
	<script type="text/javascript" src="index-static/jquery-ui.js"></script>
	<script type="text/javascript">
		maxWidth = false;
		function toggleMaxWidth() {
			if (maxWidth) { $("#container").css("max-width","1000px"); }
			else          { $("#container").css("max-width","none"); }
			maxWidth = !maxWidth;
			if (env.editor) { env.editor.resize(); }
               }
	       $(function() {
			$("#all-old").toggle();
			$("#collapse").click(function() {
				$("#all-old").toggle();
				$(this).toggleClass("ui-icon-triangle-1-e");
				$(this).toggleClass("ui-icon-triangle-1-s");
			});
	       });

	       function resize(id) {
	                var iframe = document.getElementById(id);
                        var height = iframe.contentWindow.document.body.scrollHeight;
                        // if we have content, we need to extend the iframe
                        // because we need to include space for the invisible scrollbar
                        iframe.height = (height == 0) ? 0 : height + 35;
               };
        </script>

	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link type="text/css" rel="stylesheet" href="index-static/jquery-ui.css" />
	<link type="text/css" rel="stylesheet" href="index-static/style.css" />
	<style type="text/css">
.all-current {
	text-align:center;
}

.current {
	text-decoration:none;
	width:40%;
	background-color:rgb(81, 124, 161);
	border-radius: 5px;
	margin:1ex;
	padding:5px;
	text-align:center;
	color:white;
	display:inline-block;
	vertical-align:top;
	line-height: 1.3;
}
.current:hover {
	background-color:rgb(128, 196, 255);
}

.lecture {
	font-size:300%;
	line-height:1.1;
}
.year {
	font-size:150%;
}

div.important {
    border: 1px solid #f44;
    background-color: #fdd;
    padding: 0.5em 1em;
    margin: 1em 0;
    font-size: 1.4em;
    line-height: 1.4em;
}

	</style>
	<title>Der Praktomat am KIT</title>
</head>

<body>
	<div id="container">
		<div id="header"><div class="inner">
			<div id="title">
				<h1>Der Praktomat am KIT</h1>
			</div>
			<div id="user-tools">
				<!--
				{% if user.is_authenticated %}
					Welcome, {% firstof user.get_full_name user.username %} 
					{% if user.is_shibboleth_user %}
					/ <a href="{% url registration_view %}">View Account</a>
					{% else %}
					/ <a href="{% url registration_change %}">Change Account</a>
                    {% endif %}
					/ <a href="{% url auth_logout %}">Log-out</a><br/>
					{% if user.is_staff %}<a href={% url rating_overview %}>{% trans "Rating overview"%}</a> / 
					<a href="{% url admin:index %}">Admin Panel</a>	{%endif%}
					{% if user|in_group:"Tutor" %} <a href={% url tutorial_overview %}>{% trans "My Tutorial"%}</a>{%endif%}
				{% else %}
					<a href="{{ LOGIN_URL }}">Login</a> 
					{% if REGISTRATION_POSSIBLE %}
						<a href="{% url registration_register %}">Register</a> 
					{%endif%}
				{%endif%}
				-->
			</div>
		</div></div>
		<div id="sub_header"><div class="inner">
			<a href="http://kit.edu/"><span class="icon icon-white ui-icon-home"></span>Home</a> &gt;
			<a href="http://pp.info.uni-karlsruhe.de/">Programmierparadigmen</a> &gt;
			<a href="https://praktomat.cs.kit.edu/">Praktomat</a>
			<a href="#" onClick="toggleMaxWidth()"><span style="float:right" class="icon icon-white ui-icon-arrow-2-e-w"></span></a>
		</div></div>
		<div id="content">


<!--
<div class="important">Am 22.04.2016 wird Praktomat aufgrund von Wartungsarbeiten für einige Zeit nicht erreichbar sein.</div>
-->

<iframe src="https://praktomat.cs.kit.edu/sysadmin_motd.html" id="motd" onLoad="resize('motd')" width="100%"></iframe>

<h2>Aktuelle Praktomaten</h2>

<div class="all-current">


<a href="https://praktomat.cs.kit.edu/2020_WS/" class="current">
<span class="lecture">Programmieren Übungsaufgaben</span><br/>
<span class="year">Wintersemester 2020/21</span>
</a>


<a href="https://praktomat.cs.kit.edu/2020_SS_Abschluss/" class="current">
<span class="lecture">Programmieren Abschlussaufgaben</span><br/>
<span class="year">Sommersemester 2020</span>
</a>


<!--
<a href="https://praktomat.cs.kit.edu/tba_2016_SS/" class="current">
<span class="lecture">Theorembeweiser</span><br/>
<span class="year">Sommersemester 2016</span>
</a>
-->

<!--
<a href="https://praktomat.cs.kit.edu/algo1_2014_WS/" class="current">
<span class="lecture">Algorithmen 1</span><br/>
<span class="year">Wintersemester 2014/2015</span>
</a>
-->


</div>

<h2>Alle Praktomaten<span id="collapse" class="ui-icon ui-icon-triangle-1-e"></span></h2>

<ul id="all-old">
<li>Wintersemester 2020/2021
<ul>
<li><a href="https://praktomat.cs.kit.edu/2020_WS/">Programmieren</a></li>
</ul>
</li>

<li>Sommersemester 2020
<ul>
<li><a href="https://praktomat.cs.kit.edu/2020_SS/">Programmieren</a></li>
<li><a href="https://praktomat.cs.kit.edu/2020_SS_Abschluss/">Programmieren Abschlussaufgaben</a></li>
</ul>
</li>

<li>Wintersemester 2019/2020
<ul>
<li><a href="https://praktomat.cs.kit.edu/2019_WS/">Programmieren</a></li>
<li><a href="https://praktomat.cs.kit.edu/2019_WS_Abschluss/">Programmieren Abschlussaufgaben</a></li>
</ul>
</li>

<li>Sommersemester 2019
<ul>
<li><a href="https://praktomat.cs.kit.edu/2019_SS/">Programmieren</a></li>
<li><a href="https://praktomat.cs.kit.edu/2019_SS_Abschluss/">Programmieren Abschlussaufgaben</a></li>
</ul>
</li>

<li>Wintersemester 2018/2019
<ul>
<li>Programmieren</li>
<li><a href="https://praktomat.cs.kit.edu/2018_WS_Abschluss/">Programmieren Abschlussaufgaben</a></li>
</ul>
</li>

<li>Sommersemester 2018
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
<li>Theorembeweiserpraktikum</li>
</ul>
</li>

<li>Wintersemester 2017/2018
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Sommersemester 2017
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Wintersemester 2016/2017
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Sommersemester 2016
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
<li>Theorembeweiserpraktikum</li>
</ul>
</li>

<li>Wintersemester 2015/2016
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Sommersemester 2015
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Wintersemester 2014/2015
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Sommersemester 2014
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
<li>Algorithmen 1</li>
</ul>
</li>

<li>Wintersemester 2013/2014
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>


<li>Sommersemester 2013
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
<li>Theorembeweiserpraktikum</li>
</ul>
</li>

<li>Wintersemester 2012/2013
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Sommersemester 2012
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Wintersemester 2011/2012
<ul>
<li>Programmieren</li>
</ul>
</li>

<li>Wintersemester 2010/2011
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Sommersemester 2010
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Wintersemester 2009/2010
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Sommersemester 2009
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

<li>Wintersemester 2008/2009
<ul>
<li>Programmieren</li>
<li>Programmieren Abschlussaufgaben</li>
</ul>
</li>

</ul>

<h2>Über den Praktomaten</h2>

<p>Hinweise zum <A HREF="http://pp.info.uni-karlsruhe.de/project.php?id=34&amp;lang=de">Praktomat-Projekt</A>.</p>

		</div>
	</div>
</body>
</html>
