# workaround for debug-toolbar/sqlparse incompatibility, see http://stackoverflow.com/questions/38479063/django-debug-toolbar-breaking-on-admin-while-getting-sql-stats
sqlparse
Django==1.11
M2Crypto
Markdown
Pygments
chardet
django-extensions

# It appears that due to the pull-request https://github.com/aljosa/django-tinymce/pull/103 merged in django-tinymce==2.4.0, jquery is loaded after our onw jquery
# loaded in admin-sites. Using an old version of django-tinymce (2.3.x) is not possible because it uses methods removed between Django 1.8 and 1.11.
# We might want to use the django-admin provieded jquery in our admin-site jquery snippets?!?!?
django-tinymce
django-debug-toolbar
docutils
subprocess32
psycopg2
selenium

