{% extends "base.html" %}
{% load i18n %}
{% block styles %}{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}static/styles/smoothness/jquery-ui-1.7.2.custom.css" />
<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}static/styles/BespinEmbedded.css" />
 <STYLE type="text/css">
   .activeFile {font-weight: bold;}
   .ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
}
 </STYLE>
{% endblock %}{% block script %}{{ block.super }}
	<script type="text/javascript" src="{{MEDIA_URL}}static/script/jquery.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}static/script/jquery-ui.js"></script>
	<script type="text/javascript" src="{{MEDIA_URL}}static/script/BespinEmbedded.js"></script>
	<script type="text/javascript">
		var embed
		$(document).ready(function(){
			$("h3.clickable").css('cursor', 'pointer').click(function () {
				$(this).next("div").slideToggle("fast");
				$(this).children("span").toggleClass("ui-icon-triangle-1-s").toggleClass("ui-icon-triangle-1-e");
		}).click();
		//loadFileInEditor(0);

		// Stop the link click from doing its normal thing
		//return false;
		});
		$(function() {
			$("#tabs").tabs();
		});
		var currentTextarea;
		function loadFileInEditor(index) {
			var newTextarea = $("#id_attestfiles-"+(index-1)+"-content");
			var bespin = document.getElementById("editor").bespin;
			if (currentTextarea) {
				currentTextarea.val(bespin.getContent()); }
			bespin.setContent(newTextarea.val());
			currentTextarea = newTextarea;
			$("#annotated_solution_files").children("a").removeClass("activeFile");
			$("#file"+index).addClass("activeFile");
		}
	</script>
{% endblock %}{% block content %}

<a href={% url task_list %}> <span class="ui-icon ui-icon-carat-1-w" style="float:left; margin-right: .3em;"></span>{% trans "Back to task list" %}</a>

<h1>{{solution.task.title}}</h1>


<div id="tabs">
	<ul>
		<li><a href="#checker_results">Checker results</a></li>
		<li><a href="#annotated_solution_files">Annotate solution files</a></li>
		<li><a href="#attestation">Attest solution</a></li>
	</ul>
	<div id="checker_results">
		{% for result in solution.checkerresult_set.all %} 
			<div class="result">
				<h3 class="{% if result.log %} clickable {% endif %}" style="text-decoration: none;">
				<span {% if result.log %} class="ui-icon ui-icon-triangle-1-s"{% endif %} style="float:left; margin-right: .3em; width:16px; height:16px;"></span>
				{{result.title}}{% if not result.public %} (hidden){% endif %}: <span class="{% if result.passed %} passed {% else %} not passed {% endif %}">
				{{result.passed|yesno:_("passed, failed")}}</span></h3>
				<div class="log">{{result.log|safe}}</div>
			</div>
		{%endfor%}
	</div>
	<div id="annotated_solution_files">
		{% for file in solution.solutionfile_set.all  %}
			<a id="file{{forloop.counter}}" style="margin:5px; cursor:pointer;" onclick="loadFileInEditor({{forloop.counter}})">{{file}}</a>
        {% endfor %} <br/><br/>
		
		<div id="editor" class="bespin" data-bespinoptions='{ "settings": { "strictlines": true }, "stealFocus": true }' style="margin: 0; padding: 0; border: 0; height: 300px; border: 10px solid #ddd; -moz-border-radius: 10px; -webkit-border-radius: 10px;">
			// The text of this div shows up in the editor.
				var thisCode = "what shows up in the editor";
				function editMe() {
				 alert("and have fun!");
				}
		</div>

	</div>
	<div id="attestation">
		<form enctype="multipart/form-data" method="post" action="">
			
			<div style="position: absolute; left: -10000px;">
				{% for form in attestFileFormSet.forms %}
					{{form.as_p}}
				{% endfor %}
			</div>
			<table>
				{{ attestForm.non_form_errors }}
				{{ attestFileFormSet.non_form_errors }}
				{{ ratingResultFormSet.non_form_errors }}
				{{ attestForm }}
				{{ ratingResultFormSet }}
				
				<tr>
					<td></td>
					<td>
					<input type="submit" value="Save/Preview"  onclick="loadFileInEditor(0);"/></td>
				</tr>
			</table>
		</form>
	</div>
</div>



	
{% endblock %}