{% extends "base.html" %}
{% load i18n %} {% load chunks %} {% load motd %}
{% block extrahead %}{{ block.super }}
<script type="application/javascript">

function resize(id) {
    var iframe = document.getElementById(id);
    var height = iframe.contentWindow.document.body.scrollHeight;
    // if we have content, we need to extend the iframe
    // because we need to include space for the invisible scrollbar
    iframe.height = (height == 0) ? 0 : height + 35;
};

</script>
{% endblock %}
{% block breadcrumbs %}<span class="icon icon-white ui-icon-home"></span>Home{% endblock %}
{% block content %}<div id='task_list'>

<div id="welcome">
	
	{% motd %}
	
	{% chunk "Welcome Message" %}
	
	{% if not user.is_trainer and not user.is_superuser %}
		{% if tutors or trainers %}
			<div id="contact"><a> Got Problems? </a>
			{% if tutors %}
				<a> Your tutor{{tutors.count|pluralize}}: </a>
				{% for tutor in tutors %}
					<a href="mailto:{{tutor.email}}">{{tutor.get_full_name}}</a>	
				{% endfor %}
			{% endif %}
			{% if trainers %}
				<a> Your trainer{{trainers.count|pluralize}}: </a>
				{% for trainer in trainers %}
					<a href="mailto:{{trainer.email}}">{{trainer.get_full_name}}</a>	
				{% endfor %}
			{% endif %}</div>
		{% endif %}
	{% endif %}
</div>

<div style="font-size:18px;color:red;font-weight: bold;">{% if calculated_grade < threshold and user.is_user %}{% chunk 'warning message' %}{% endif %}</div>

{% regroup tasks by 0.expired as grouped_tasks %}

<div>{% for group in grouped_tasks %}
    <div id="{% if group.grouper %}expired_tasks{% else %}upcoming_tasks{% endif %}" class="{% if group.grouper %}right{% else %}left{% endif %}" >
		<h2>{% if group.grouper %}{% trans "Expired tasks" %}{% else %}{% trans "Upcoming tasks" %}{% endif %}</h2>
		{% for task, final_solution in group.list%}
			<h3><a href="{% url "task_detail" task_id=task.id%}">{{task.title}}</a></h3>
			Due: {{ task.submission_date|date }} {{ task.submission_date|time }}
			{% if user.is_user %}
				<a href="{% url "solution_list" task_id=task.id%}">{% trans "Solutions"%}</a>
				{% if final_solution %}
				  <br/>
				  Final solution submitted {{ final_solution.creation_date|timesince}} ago.
				{% endif %}
			{% endif %}
			{% if user.is_tutor or user.is_trainer%}
				<a href="{% url "attestation_list" task_id=task.id%}">{% trans "Attestation"%}</a>
				<a href="{% url "statistics" task_id=task.id%}">{% trans "Statistics"%}</a>
			{% endif %}
			{% if user.is_staff and HAS_JPLAG %}
				<a href="{% url "solution_jplag" task_id=task.id%}">{% trans "jPlag"%}</a>
			{% endif %} <br/><br/>
		{% endfor %}
	</div>
{% empty %}
	<a>{% trans "No tasks to be submitted at the moment." %}</a>
{% endfor %}</div>

{% if user.is_user %}	
	{% if attestations %}
		<div id="attestation_overview">
			<h2>Result Overview</h2>
			<table>
				<tr><th>Task</th><th>Grade</th><th>Rating Scale</th></tr>
				{% for task, attestation, has_solution in attestations %}
					<tr>
						<td>{{task}}</td>
						<td class="grade_cell">{% if attestation %}
							<a href="{% url "view_attestation" attestation_id=attestation.id%}">{{attestation.final_grade}} </a>
							{% else %}{% if has_solution %}?{% else %}-{% endif %}{% endif %}</td>
						<td>{{task.final_grade_rating_scale.name}}</td>
					</tr>
				{% endfor %}
				
				{% if show_final_grade %}
					<tr class="final_grade"><td>Final Grade</td><td>{{user.final_grade}}</td></tr>
				{% else %}
					<tr class="final_grade"><td>Predicted Final Grade</td><td>{{calculated_grade}}</td></tr>
				{% endif %}
				
			</table>
		</div>
	{% endif %}
{% endif %}


</div>{% endblock %}
