{% extends "base.html" %}
{% load i18n  %}
{% block extrahead %}{{ block.super }}
<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}styles/pygments_friendly.css" />
{% endblock %}
{% block breadcrumbs %}
	{{ block.super }} > {{task.title}}
{% endblock %}
{% block content %}<div id='task_detail'>
<span id="submission_date">
	Submission date: {{task.submission_date.date}}
</span>

<h1>{{task.title}}</h1>

<p>
{% if user.is_tutor or user.is_trainer %}
	<span class="icon ui-icon-triangle-1-e"></span><a href={% url "attestation_list" task_id=task.id%}>{% trans "Attestations" %}</a>
	<span class="icon ui-icon-triangle-1-e"></span><a href={% url "statistics" task_id=task.id%}>{% trans "Statistics"%}</a>
{% endif %}
{% if user.is_staff and HAS_JPLAG %}
	<span class="icon ui-icon-triangle-1-e"></span><a href={% url "solution_jplag" task_id=task.id%}>{% trans "jPlag"%}</a>
{% endif %}
{% if user.is_user %}
	<span class="icon ui-icon-triangle-1-e"></span><a href={% url "solution_list" task_id=task.id%}>{% trans "My Solutions" %}</a>
{% endif %}
</p>
{{task.description|safe}}

<div>{% endblock %}
