{% load i18n %}
{% load static %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" {% if MIRROR %}class="mirror"{% endif %}>
<head>
	<script type="text/javascript" src="{% static "frameworks/jquery/jquery.js" %}"></script>
	<script type="text/javascript" src="{% static "frameworks/jquery/jquery-ui.js" %}"></script>
	<script type="text/javascript">
		maxWidth = false;
		function toggleMaxWidth() {
			if (maxWidth) { $("#container").css("max-width","1000px"); }
			else          { $("#container").css("max-width","none"); }
			maxWidth = !maxWidth;
			if (env.editor) { env.editor.resize(); }
               }
        </script>

	<link type="text/css" rel="stylesheet" href="{% static "frameworks/jquery/jquery-ui-theme.css" %}" />
	<link type="text/css" rel="stylesheet" href="{% static "styles/style.css" %}" />
	{% block extrahead %}{% endblock %}	
	<title>{{ site_name|default:"Praktomat" }} {% block title %}{% endblock %}</title>
</head>

<body>
	<div id="container">
		<div id="header"><div class="inner">
			<div id="title">
				<h1>{{ SITE_NAME|default:"Praktomat" }}</h1>
 				{% comment %} the error500 template does not set SITE_NAME {% endcomment %}
			</div>
			<div id="user-tools">
				{% if user.is_authenticated %}
					Welcome, {% firstof user.get_full_name user.username %} 
					{% if user.is_shibboleth_user %}
					/ <a href="{% url "registration_view" %}">View Account</a>
					{% else %}
					/ <a href="{% url "registration_change" %}">Change Account</a>
                    {% endif %}
					/ <a href="{% url "logout" %}">Log-out</a><br/>
					{% if user.is_staff or user.is_trainer or user.is_coordinator %}<a href={% url "rating_overview" %}>{% trans "Rating overview"%}</a>
					{% if user.is_staff %} / <a href="{% url "admin:index" %}">Admin Panel</a>	{%endif%} {%endif%}
					{% if user.is_tutor %} <a href={% url "tutorial_overview" %}>{% trans "My Tutorial"%}</a>{%endif%}
				{% else %}
					<a href="{{ LOGIN_URL }}">Login</a> 
					{% if REGISTRATION_POSSIBLE %}
						<a href="{% url "registration_register" %}">Register</a> 
					{%endif%}
				{%endif%}
			</div>
		</div></div>
		<div id="sub_header"><div class="inner">
				{% block breadcrumbs %}<a href={% url "task_list" %}><span class="icon icon-white ui-icon-home"></span>Home</a>{% endblock %} <a href="#" onClick="toggleMaxWidth()"><span style="float:right" class="icon icon-white ui-icon-arrow-2-e-w"></span></a>
		</div></div>
		<div id="content">
			<noscript><div id="javascripterror" class="ui-widget ui-state-error ui-corner-all notification">
				<p><span class="ui-icon ui-icon-alert"></span> 
				<strong>Warnig:</strong> This site is designed to use Javascript! Enabling it is advised.</p>
			</div></noscript>
			{% comment %} 4 use with messages framework
				<div class="ui-widget ui-state-highlight ui-corner-all notification">
					<p><span class="ui-icon ui-icon-info"></span>
					<strong>Hey!</strong> Sample ui-state-highlight style.</p>
				</div>
			{% endcomment %}
			{% block content %}{% endblock %}
		</div>
	</div>
	{% block footer_js %} {% endblock %}
</body>
</html>
