{% extends "base.html"%}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }} &gt; {% trans 'Registration' %}
{% endblock %}

{% block content %}

<h1>{% trans "Register a new Account" %}</h1>
{% if form %}
	<p>The username you choose will also be your public name for the forum and can not be changed after registration.</p>

	<form method="post" action="." autocomplete="off"> {% csrf_token %}
	{%comment%} autocomplete is a not standardized tag! {%endcomment%}
		{% include "forms/form_as_div.html" %}
		<input type="submit" value="Register" />
	</form>
{% else %}
<div class='error'>Registration is closed. Please Contact a Trainer: {% for user in trainers %} <a href='mailto:{{ user.email }}'>{{user.get_full_name}}</a> {% endfor %} or Administrator:{% for user in admins %} <a href='mailto:{{ user.email }}'>{{user.get_full_name}}</a>{% endfor %}.</div>
{% endif %}
{% endblock %}
