{% extends "base.html"%}
{% load i18n %}

{% block breadcrumbs %}
	{{ block.super }} > {% trans 'Change Account' %}
{% endblock %}

{% block content %}

<h1>{% trans "Change Account" %}</h1>

{% if user.has_usable_password %}
<a href="{% url "password_change" %}">Change Password</a><br/><br/>
{% endif %}

<form method="post" action="." autocomplete="off"> {% csrf_token %}
{%comment%} autocomplete is a not standardized tag! {%endcomment%}
	<div class="form-row">
        <label>Username:</label> 
		<a> {{user.username}} </a>
	</div>
	<div class="form-row">
        <label>Email:</label> 
		<a> {{user.email}} </a>
	</div>
	<div class="form-row">
        <label>Matnumber:</label> 
		<a> {{user.mat_number}} </a>
	</div>
	{% include "forms/form_as_div.html" %}
	<input type="submit" value="save" />
</form>
{% endblock %}
