{% extends "admin/change_form.html" %}
{% load i18n %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
<ul class="object-tools">
	<li><a href="{% url "download_final_solutions" object_id %}" class="historylink">{% trans "Download Final Solutions" %}</a></li>
	<li><a href="history/" class="historylink">{% trans "History" %}</a></li>
	{% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
</ul>
{% endif %}{% endif %}
{% endblock %}


{% block after_related_objects %}
<div class="inline-group" id="solution_set-group">
    <h2>Model Solution</h2>
	<div class="add-row">
		{% if add %}
			Save this task to add a model solution
		{% else %}	
			<a href="{% url "model_solution" object_id %}" onclick="return showAddAnotherPopup(this);">{% if original.model_solution %}Edit{% else %}Add{% endif %} model solution</a>
		{% endif %}
	</div>
</div> {% endblock %}
