/* @override http://localhost/media/styles/style.css */

/* @group Global */

/* @group Browser reset */

/* @group Reset */

/* http://meyerweb.com/eric/tools/css/reset/ */

/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to highlight inserts somehow! */

ins {
	text-decoration: none;
}

del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* @end */

/* @group Defaults */

/* inspyerd by http://www.w3.org/TR/CSS2/sample.html */

h1 {
	font-size: 2em;
	margin: .67em 0
}

h2 {
	font-size: 1.5em;
	margin: .75em 0
}

h3 {
	font-size: 1.17em;
	margin: .83em 0
}

h4, p, blockquote, ul, fieldset, form, ol, dl, dir, menu {
	margin: 1.12em 0
}

h5 {
	font-size: .83em;
	margin: 1.5em 0
}

h6 {
	font-size: .75em;
	margin: 1.67em 0
}

h1, h2, h3, h4, h5, h6, b, strong {
	font-weight: bolder
}

blockquote {
	margin-left: 40px;
	margin-right: 40px
}

i, cite, em, var, address {
	font-style: italic
}

pre, tt, code, kbd, samp {
	font-family: monospace
}

big {
	font-size: 1.17em
}

small, sub, sup {
	font-size: .83em
}

table {
	border-spacing: 2px;
}

thead, tbody, tfoot {
	vertical-align: middle
}

td, th, tr {
	vertical-align: inherit
}

ol, ul, dir, menu, dd {
	margin-left: 40px
}

ol ul, ul ol, ul ul, ol ol {
	margin-top: 0;
	margin-bottom: 0
}

u, ins {
	text-decoration: underline
}

@media print {

h1 {
	page-break-before: always
}

h1, h2, h3, h4, h5, h6 {
	page-break-after: avoid
}

ul, ol, dl {
	page-break-before: avoid
}

}



/* @end */

/* reset overrides */

input {
	margin-bottom: 10px;
}

pre {
	left: -14px;
	padding-left: 20px;
}

ul li {
	list-style-type: disc;
}

ol li {
	list-style-type: decimal;
}

td, th {
	padding: 5px;
}

/* @end */

/* @group Page structure */

body {
	background: #fff none repeat scroll 0 0;
	color: #333333;
	font-family: "Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

#container {
	position: relative;
	width: 100%;
	min-width: 760px;
}

#content {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	margin-bottom: 10px;
	padding: 20px;
}

#footer {
	clear: both;
	padding: 10px;
}

/* @end */

/* @group Header */

#header {
	background: #123069;
	color: white;
	overflow: hidden;
	width: 100%;
}

#sub_header {
	background: #005094;
	overflow: hidden;
	width: 100%;
	color: #eaeaea;
	font-size: 11px;
	padding-top: 3px;
	padding-bottom: 4px;
}

.inner {
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 20px;
	padding-right: 20px;
}

#title h1 {
	font-size: 18px;
	font-weight: normal;
	color: white;
	float: left;
	margin-top: 8px;
	margin-bottom: 8px;
}

#user-tools {
	float: right;
	margin-top: 12px;
}

#header a:link, #header a:visited {
	color: white;
	text-decoration: none;
}

#sub_header a:link, #sub_header a:visited, #sub_header a {
	color: #eaeaea;
	text-decoration: none;
}

#sub_header a:hover {
	text-decoration: underline;
}

#header a:hover {
	text-decoration: underline;
}

/* @end */

/* @group Forms */

label {
	bottom: auto;
	position: relative;
	top: 3px;
	color: #656565;
	font-weight: bold;
	font-size: 10pt;
	font-family: sans-serif;
	vertical-align: top;
	float: left;
	width: 150px;
	display: block;
}

form .help {
	margin-left: 150px;
	margin-top: 5px;
	margin-bottom: 15px;
	color: #999999;
}

form .errors .errorlist {
	color: red;
	display: inline;
}

form > .errorlist {
	color: red;
	margin-left:0px;
}

form .errorlist li {
	list-style-type: none;
	display: inline;
}

/* .errorlist {
	padding: 0px;
	margin-left: 0px;
	margin-bottom: 2px;
	margin-right: 0px;
	margin-top: 2px;
	list-style-type: none;
	color: red;
} */

/* @end */

/* @group Icons */

.icon {
	height: 16px;
	width: 16px;
	position: relative;
	margin-right: .3em;
	display: inline-block;
	overflow: hidden;
	background-image: url(../images/ui-icons_222222_256x240.png);
	background-repeat: no-repeat;
	text-indent: -99999px;
	vertical-align: sub;
}

.icon-green {
	background-image: url(../images/ui-icons_41af1d_256x240.png);
}

.icon-orange {
	background-image: url(../images/ui-icons_e09524_256x240.png);
}

.icon-red {
	background-image: url(../images/ui-icons_c31818_256x240.png);
}

.icon-white {
	background-image: url(../images/ui-icons_ffffff_256x240.png);
}

.icon-none {
	background-image: none !important;
}

.ui-icon {
	position: relative;
	margin-right: .3em;
	display: inline-block !important;
	vertical-align: sub;
}

/* @end */

/* @end */

.tooltip {
	display:none;
	padding: 20px;
	background: rgba(33,33,33,0.9); 
	z-index: 10000;
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 4px solid rgba(255,254,255,0.2);
	color: #fffeff;
}

/* @group Task */

/* @group Task Detail */

#task_detail #submission_date {
	float: right;
}

/* @end */

/* @group Task List */

#task_list #welcome {
	margin-bottom: 40px;
}

#task_list #tutors {
	margin-top: 30px;
}

#task_list div.left {
	float: left;
	width: 48%;
	padding-right: 2%;
}

#task_list div.right {
	float: right;
	width: 48%;
	padding-left: 2%;
}

/* @end */

/* @end */

/* @group Solution */

/* @group Solution Detail */

#solution_detail #commit_text {
	display: inline;
}

#solution_detail form {
	display: inline;
}

/* @end */

/* @group Solution Upload */

#soluion_upload div.left {
	float: left;
	width: 48%;
	padding-right: 2%;
}

#soluion_upload div.right {
	float: right;
	width: 48%;
	padding-left: 2%;
}

a.add-row {
	
}

#soluion_upload div.left a {
	float: right;
}

#soluion_upload .simple_overlay {
	/* mu

st be initially hidden */ 
    display: none;
	/* styling */ 
    

color: #fff;
	width: 30%;
	min-height: 200px;
	padding: 35px;
	font-size: 20px;
}

#soluion_upload img#spinner {
	display: inline;
	float: left;
	position: relative;
	top: 4px;
	margin-right: 10px;
}

/* @end */

/* @end */

/* @group Attestation */

/* @group Attestation Edit */

#attestation_edit .activeFile {
	font-weight: bold;
}

#attestation_edit #annotated_solution_files a:hover {
	cursor: pointer;
}

#attestation_edit #annotated_solution_files a {
	margin: 10px;
}

#attestation_edit .ui-tabs .ui-tabs-hide, .hidden {


/* override display:none of hidden tab to instantiate bespin 
	 see http://jqueryui.com/demos/tabs/ */
    position: absolute;
	left: -10000px;
}

#attestation_edit h3.result {
	text-decoration: none;
}

#attestation_edit div.result span.icon {
	float: left;
	margin-right: .3em;
	width: 16px;
	height: 16px;
}

#attestation_edit .bespin {
	margin: 0;
	margin-top: 10px;
	padding: 0;
	border: 0;
	height: 500px;
	border: 10px solid #ddd;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

/* @end */

/* @group Attestation List */

#attestation_list #comment {
	color: #c0c0c0;
	width: 60%;
	margin-left: 30px;
}

#attestation_list div.attestation {
	position: relative;
	left: 20px;
}

#attestation_list #Solutions form {
	margin-top: 40px;
}

#soluion_upload div.attestation {
	margin-left: 15px;
}

/* @end */

/* @group Attestation View */

#attestation_view div.section {
	margin-top: 30px;
	margin-bottom: 30px;
}

#attestation_view .private {
	color: #ff8a00;
}

#attestation_view div.changed {
	background-color: #c4ff6f;
}

#attestation_view .has_anotations {
	color: #ff0092;
}

#attestation_view span.mark {
	left: 15px;
	position: relative;
	font-weight: normal;
}

#attestation_view div.result p {
	color: #999999;
	margin-left: 20px;
}

#attestation_view form .help {
	display: inline;
	margin-left: 60px;
}

/* @end */

/* @end */

/* @group Inlines */

/* @group solution files */

div.file div.content {
	overflow: hidden;
}

/* root element for tabs  */

ul.tabs {
	margin: 0 !important;
	padding: 0;
	height: 30px;
}

/* single tab */

ul.tabs li {
	float: left;
	padding: 0;
	margin: 0;
	list-style-type: none;
}

/* link inside the tab. uses a background image */

ul.tabs a {
	float: left;
	font-size: 13px;
	display: block;
	padding: 5px 30px;
	text-decoration: none;
	height: 18px;
	color: #777;
	margin-right: 2px;
	position: relative;
	top: 1px;
}

ul.tabs a:hover {
	color: #333;
}

/* selected tab */

ul.tabs a.current {
	color: #000;
	cursor: default;
}

/* @end */

/* @group checker results */

.error {
	color: #f00;
}

.warning {
	color: #ff7600;
}

.passed {
	color: #008500;
}

div.result {
	left: 0px;
	position: relative;
	overflow: hidden;
}

div.result div.log {
	left: 40px;
	position: relative;
	overflow: hidden;
}

/* @end */

/* @end */

/* @group Rating */

#rating .odd {
	background-color: #e9edf1;
}

#rating form input {
	margin: 0;
}

#rating .noLinkHighlight a:link, .noLinkHighlight a:visited {
	color: #333;
	text-decoration: none;
}

#rating .noLinkHighlight a:hover {
	text-decoration: underline;
}

#rating .heading {
	width: 50px;
	margin-bottom: 10px;
	-moz-transform: rotate(-45deg);
	/* 

FF3.5+ */
       -o-transform: rotate(-45deg);
	/* 

Opera 10.5 */
  -webkit-transform: rotate(-45deg);
	/* 

Saf3.1+, Chrome */
             filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', 
                     M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476);
	/* 

IE6,IE7 */
         -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(SizingMethod='auto expand', 
                     M11=0.7071067811865476, M12=0.7071067811865475, M21=-0.7071067811865475, M22=0.7071067811865476)";
	/*

IE8 */
               zoom: 1;
}

#rating table {
	margin-top: 40px;
}

/* @end */

/* @group Accounts */

/* @group Login */

#login #form {
	margin-top: 50px;
}



/* @end */



/* @end */

#help_icon {
	float: right;
}

