{% extends "base.html" %}
{% load i18n %} {% load in_group %}
{% block content %}

<div id="upcoming_tasks">
	<h1>{% trans "Upcoming tasks" %}</h1>
	{% for task in upcoming_tasks%}
		<h2><a href={% url taskDetail task_id=task.id%}>{{task.title}}</a></h2>
		{{ task.submission_date|date }} {{ task.submission_date|time }}
		{% if user|in_group:"User" %}
			<a href={% url solution_list task_id=task.id%}>{% trans "Solutions"%}</a>
		{% endif %}
		{% if user.is_superuser or user|in_group:"Trainer,Tutor"%}
			<a href={% url attestation task_id=task.id%}>{% trans "Attestation"%}</a>
		{% endif %} <br/><br/>
	{%endfor%}
</div>

<div id="expired_tasks">
	<h1>{% trans "Expiered tasks" %}</h1>
	{% for task in expired_tasks %}
		<h2><a href={% url taskDetail task_id=task.id%}>{{task.title}}</a></h2>
		{{ task.submission_date|date }} {{ task.submission_date|time }}
		{% if user|in_group:"User" %}
			<a href={% url solution_list task_id=task.id%}>{% trans "Solutions"%}</a>
		{% endif %}
		{% if user.is_superuser or user|in_group:"Trainer,Tutor"%}
			<a href={% url attestation task_id=task.id%}>{% trans "Attestation"%}</a>
		{% endif %} <br/><br/>
	{%endfor%}
</div>





{% endblock %}