{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}{{ block.super }}
	{% include 'lbforum/inc_styles.html' %}
	{% block extra_header %}{% endblock %}
{% endblock %}


{% block breadcrumbs %}
{{ block.super }} <span>&raquo;</span>
<a href="{% url lbforum_index %}">{{ LBFORUM_TITLE }}</a>  
{% if forum %}{% if not topic %}
	<span>&raquo;</span> {{forum}}
{% endif %}{% endif %}
{% if topic %}
	<span>&raquo;</span> <a href="{{ topic.forum.get_absolute_url }}">{{ topic.forum.name }}</a>
{% if not form.subject %}
	<span>&raquo;</span> {{ topic.subject }}
{% else %}
	{% if topic %} 
		<span> &raquo; </span> <a href="{{ topic.get_absolute_url }}">{{ topic.subject }}</a>
	{% endif %}
	<span> &raquo; </span> {% if is_new_post %}{% trans "Post new" %}{% else %}{% trans "Edit" %}{% endif %} {{ post_type }}
</span> 
{% endif %}
{% endif %}
{% endblock %}