{% extends "base.html" %}
{% load highlight %} {% load i18n  %}
{% block extrahead %}{{ block.super }}
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/styles/pygments_friendly.css" />
	<script type="text/javascript" src="{{MEDIA_URL}}/frameworks/jquery/jquery.tools.min.js"></script>
	{% include "attestation/checker_results_js.html" %}
	<script type="text/javascript">	
		// perform JavaScript after the document is scriptable. 
		$(function() { 
		    // setup ul.tabs to work as tabs for each div directly under div.panes 
		    $(".file>h3").remove();
			$("ul.tabs").css('display', 'block').tabs(".file > div.content");
		}); 
	</script>
	<style>
				
		/* root element for tabs  */
		ul.tabs {  
			margin:0 !important; 
			padding:0;
			height:30px;	 	
		}
		
		/* single tab */
		ul.tabs li {  
			float:left;	 
			padding:0; 
			margin:0;  
			list-style-type:none;	
		}
		
		/* link inside the tab. uses a background image */
		ul.tabs a { 
			float:left;
			font-size:13px;
			display:block;
			padding:5px 30px;	
			text-decoration:none;
			height:18px;
			color:#777;
			margin-right:2px;
			position:relative;
			top:1px;	
		}
		
		ul.tabs a:hover {
			color:#333;
		}
			
		/* selected tab */
		ul.tabs a.current {	
			color:#000;	
			cursor:default;
		}
	</style>	
{% endblock %}
{% block content %}

<span class="icon ui-icon-carat-1-w"></span><a href={% url solution_list task_id=solution.task.id%}>{% trans "Back to solution list" %}</a>

<h1>{{solution.task.title}}</h1>

{% if solution.final %}
	<p>You have commited this Solution.</p>
{% endif %}

{% if solution.accepted %}
	{% if solution.warnings %}
		<p class="warning">{% trans "You have passed all required tests." %} 
		{% if submission_possible %}{% trans "Nevertheless you've got at least one warning and should consider correcting it before submitting." %}{% endif %}</p>
	{% else %}
		<p class="passed">{% trans "Congratulations you have passed all required tests." %}
		{% if submission_possible %}{% trans "You can go ahead an make your submission final." %}{% endif %}</p>
	{% endif %}
{% else %}
	<p class="error">{% trans "Sorry, you haven't passed all required tests." %}
	{% if submission_possible %}{% trans "Please corect the errors below and try again!" %}{% endif %}</p>
{% endif %}
{% if submission_possible %}
	<form method="post">{% csrf_token %}
		<input type="submit" value="Commit" /	{% if not solution.accepted %} disabled {% endif %}>
	</form>
{% endif %}

<h2>{% trans "Results" %}</h2>

{% with solution.publicCheckerResults as results %}
	{% include "attestation/checker_results.html" %}
{% endwith %}

<h2>{% trans "Files" %}</h2>

<ul class="tabs" style="display: none;">
	{% for solutionfile in solution.solutionfile_set.all%}
    	<li><a>{{solutionfile}}</a></li> 
    {%endfor%} 
</ul> 

{% for solutionfile in solution.solutionfile_set.all%}
	<div class="file">
		<h3>{{solutionfile}}</h3>
		<div class="content">{{solutionfile.content|highlight_table:solutionfile.file.name}}</div>
	</div>
{%endfor%}

{% endblock %}