{% extends "base.html" %}
{% load i18n  %}
{% block extrahead %}{{ block.super }}
	<script type="text/javascript" src="{{MEDIA_URL}}/script/solution_inlines.js"></script>
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/styles/pygments_friendly.css" />
{% endblock %}
{% block breadcrumbs %} {{block.super}} > <a href={% url taskDetail task_id=solution.task.id%}>{{solution.task.title}}</a> > <a href={% url solution_list task_id=solution.task.id%}>My solutions</a> > Solution {{solution.id}} {% endblock %}
{% block content %}<div id='solution_detail'>

<h1>{{solution.task.title}}</h1>

{% if solution.accepted %}
	{% if solution.warnings %}
		<p class="warning" id='commit_text'>{% trans "All required tests have been passed. Nevertheless there is at least one warning" %} 
		{% if not solution.task.expired %}{% trans "You should consider correcting it." %}{% endif %}</p>
	{% else %}
		<p class="passed" id='commit_text'>{% trans "All required tests have been passed." %}</p>
	{% endif %}
{% else %}
	<p class="error" id='commit_text'>{% trans "Not all required tests have been passed." %}
	{% if not solution.task.expired %}{% trans "Please corect the errors below and try again!" %}{% endif %}</p>
{% endif %}

<p> {% include "solutions/icon_inline.html" %}
	{% if solution.final %}
		This is your current final solution.
	{% else %}
		 blabla
	{% endif %}
</p>

{% if not solution.task.expired and not solution.final %}
	<form method="post">{% csrf_token %}
		<input type="submit" value="Commit" {% if not solution.accepted %} disabled {% endif %} />
		<p class="help">You cane use this solution for attestation.</p>
	</form>
{% endif %}


{% with solution.publicCheckerResults as results %}
	{% if results %}
		<h2>{% trans "Results" %}</h2>
		{% include "solutions/checker_results_inline.html" %}
	{% endif %}
{% endwith %}

<h2>{% trans "Files" %}</h2>
{% with solution.solutionfile_set.all as solutionfiles %}
	{% include "solutions/solution_files_inline.html" %}
{% endwith %}

</div>{% endblock %}