{% extends "base.html"%}
{% load i18n %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{MEDIA_URL}}/frameworks/jquery/jquery.tools.min.js"></script>
<style>
/* the overlayed element */ 
.simple_overlay {  
    /* must be initially hidden */ 
    display:none; 
          
    /* styling */ 
    color:#fff; 
    width:60%;     
    min-height:200px; 
   	padding:35px;    
} 
</style>
<script type="text/javascript">		
// Add upload progress for multipart forms.
$(function() {
    $('form[enctype=multipart/form-data]').submit(function(){ 
        // Prevent multiple submits
        if ($.data(this, 'submitted')) return false;

        var freq = 500; // freqency of update in ms
        var progress_url = '{% url checker_progress %}'; // ajax view serving progress info 
        
		$("#progressbar").progressbar({
			value: 0
		});
		
      	$("#progress").overlay({ 
	    	top: 272, 
	    	api: true,
			closeOnClick: false,
			closeOnEsc: false, 
			expose: { 
	        	color: '#333', 
	        	loadSpeed: 1000, 
	        	opacity: 0.9 
		    }, 
		}).load();

        // Update progress bar
        function update_progress_info() {
            $.getJSON(progress_url, {}, function(data, status){ 
                if (data) {
                    var progresse = parseInt(data.progress);
                    $('#progressbar div').animate({width: progresse + '%' },{ queue:'false', duration:500, easing:"swing" }); 
                }
                window.setTimeout(update_progress_info, freq);
            });
        };
        window.setTimeout(update_progress_info, freq);

        $.data(this, 'submitted', true); // mark form as submitted.
    });
});

</script>
{% endblock %}{% block content %}


<span class="icon ui-icon-carat-1-w"></span><a href={% url task_list %}>{% trans "Back to task list" %}</a>

<h1>{{task.title}}</h1>

<div class='left'>
	<h2>{%trans "Upload solution" %}</h2> 
	{% if submission_possible %}
		<a>{%trans "Time left:" %} {{ task.submission_date|timeuntil }}</a><br/><br/>
		<iframe name="frame" style="display:none;"></iframe><!--target="frame"-->
		<form enctype="multipart/form-data" method="post" action="" > {% csrf_token %}
			<table>
				{{ formset.non_form_errors }}
				{{ formset }}
				<tr>
					<td></td>
					<td>
						<input type="submit" value="upload" />
					</td>
					
				</tr>
			</table>
		</form>
	{% else %}
		{%trans "You've allreay commited a solution. Therefore resubmission is not possible." %}
	{% endif %}
</div>








{% if solutions %}<div class='right'>
	<h2>{% trans "Submitted solutions" %}</h2>
	
	{% for solution in solutions %}
		<div class='solution'>
			{% spaceless %} 
				{% if solution.final%}
					{% if solution.warnings%}
						<span class="icon ui-icon-bullet icon-orange"></span>
					{% else %}
						<span class="icon ui-icon-bullet icon-green"></span>
					{% endif %}
				{% else %}
					{% if solution.accepted%}
						{% if solution.warnings%}
							<span class="icon ui-icon-radio-on icon-orange"></span>
						{% else %}
							<span class="icon ui-icon-radio-on icon-green"></span>
						{% endif %}
					{% else %}
						<span class="icon ui-icon-radio-on icon-red"></span>
					{% endif %}
				{% endif %}
				<a href="{% url solution_detail solution_id=solution.id %}">Solution {{forloop.counter}}</a> <span> ({{solution.creation_date|timesince}} ago)</span>
				<br/>
			{% endspaceless %}
		</div>
		
		{% for attest in solution.attestation_set.all %}
			<div class='attestation'>
				{% if attest.final %}
					<span class="icon ui-icon-script"></span><a href={% url view_attestation attestation_id=attest.id%}>Attestation</a> by {{attest.author.get_full_name}}<br/>
				{% endif %}
			</div>
		{%endfor%}
		
	{%endfor%}</div>
{% endif %}

<div class="simple_overlay" id="progress"> 
    <p>Uploading & testing solution ...</p>
	<div id="progressbar"></div>
</div> 

{% endblock %}