{% extends "base.html" %}
{% load i18n %} {% load in_group %} {% load chunks %}
{% block content %}

<div id="welcome">
	<h1>{% trans "Welcome" %}, {% firstof user.get_full_name user.username %}!</h1>
	{% if tutors %}
		
	{% endif %}
	
	{% chunk "Welcome Message" %}

</div>

<div id="upcoming_tasks" class='left'>
		<h1>{% trans "Upcoming tasks" %}</h1>
		{% for task in upcoming_tasks%}
			<h2><a href={% url taskDetail task_id=task.id%}>{{task.title}}</a></h2>
			{{ task.submission_date|date }} {{ task.submission_date|time }}
			{% if user|in_group:"User" %}
				<a href={% url solution_list task_id=task.id%}>{% trans "Solutions"%}</a>
			{% endif %}
			{% if user.is_superuser or user|in_group:"Tutor"%}
				<a href={% url attestation_list task_id=task.id%}>{% trans "Attestation"%}</a>
			{% endif %}
			{% if user.is_superuser or user|in_group:"Trainer"%}
				<a href={% url statistics task_id=task.id%}>{% trans "Statistics"%}</a>
			{% endif %} <br/><br/>
		{% empty %}
			<a>{% trans "Nothing to do right now! Yay!" %}</a>
		{% endfor %}
</div>

{% if expired_tasks%}
	<div id="expired_tasks" class='right'>
		<h1>{% trans "Expiered tasks" %}</h1>
		{% for task in expired_tasks %}
			<h2><a href={% url taskDetail task_id=task.id%}>{{task.title}}</a></h2>
			{{ task.submission_date|date }} {{ task.submission_date|time }}
			{% if user|in_group:"User" %}
				<a href={% url solution_list task_id=task.id%}>{% trans "Solutions"%}</a>
			{% endif %}
			{% if user.is_superuser or user|in_group:"Tutor"%}
				<a href={% url attestation_list task_id=task.id%}>{% trans "Attestation"%}</a>
			{% endif %}
			{% if user.is_superuser or user|in_group:"Trainer"%}
				<a href={% url statistics task_id=task.id%}>{% trans "Statistics"%}</a>
			{% endif %} <br/><br/>
		{%endfor%}
	</div>
{% endif %}





{% endblock %}