/* @override http://localhost:8000/styles/style.css */

/* @group Page Structure */

#container { position:relative; width:100%; min-width:760px; padding:0; }
#content { margin:10px 15px; }
#header { width:100%; }
#content-main { float:left; width:100%; }
#content-related { float:right; width:18em; position:relative; margin-right:-19em; }
#footer { clear:both; padding:10px; }

body {
	background:#FFFFFF none repeat scroll 0 0;
	color:#333333;
	font-family:"Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
}



/* @end */

/* @group Header */

#header { background:#123069; color:white; overflow:hidden; }
#header a:link, #header a:visited { color:white; }
#header a:hover { text-decoration:underline; }
#title h1 { padding:0 10px; font-size:18px; margin:8px 0; font-weight:normal; color:white; }
#title h2 { padding:0 10px; font-size:14px; margin:-8px 0 8px 0; font-weight:normal; color:#ffc; }
#user-tools { position:absolute; top:0; right:0; padding:1.2em 10px; font-size:11px; text-align:right; }



/* @end */

/* @group Solution */

.error {
	color: #f00;
}
.warning {
	color: #ff7600;
}
.passed {
	color: #008500;
}

div.result div.log {
	left: 20px;
	position: relative;
	overflow:hidden;
}

div.file div.content {
	left: 20px;
	position: relative;
	overflow:hidden;
}

div.result {
	left: 20px;
	position: relative;
	overflow:hidden;
}

div.file {
	left: 20px;
	position: relative;
	overflow:hidden;
}



/* @end */

label {
	bottom: auto;
	position: relative;
	top: 3px;
	color: #656565;
	font-weight: bold;
	font-size: 10pt;
	font-family: sans-serif;
	vertical-align: top;
}

.errorlist {
	padding: 0px;
	margin-left: 0px;
	margin-bottom: 2px;
	margin-right: 0px;
	margin-top: 2px;
	list-style-type: none;
	color: red;
	
}

th {
	text-align: right;
	vertical-align: top;
}

