{% extends "base.html" %}
{% load highlight %}{% load i18n  %}{% load in_group %} 
{% block extrahead %}{{ block.super }}
	<script type="text/javascript" src="{{MEDIA_URL}}script/solution_inlines.js"></script>
	<link type="text/css" rel="stylesheet" href="{{MEDIA_URL}}/styles/pygments_friendly.css" />
	<script type="text/javascript">	
		function updatePublishButton(){
			if ($('#id_final').is(':checked')) {
				$('#publishButton').removeAttr('disabled');
			} else {
				$('#publishButton').attr('disabled', true);
			} 
		}
		$(document).ready(function(){
			updatePublishButton();
		  	$('#id_final').click(function(){updatePublishButton()});
	  	});
	</script>
{% endblock %}
{% block breadcrumbs %} {{block.super}} > <a href={% url task_detail task_id=attest.solution.task.id%}>{{attest.solution.task.title}}</a> 
{% if user|in_group:"Tutor"%}
	> <a href={% url attestation_list attest.solution.task_id %}>My attestations</a> 
	> <a href={% url edit_attestation attest.id %}>Attestation</a>
	> Preview
{% else %}
	> <a href={% url solution_list task_id=attest.solution.task.id%}>My solutions</a> 
	> <a href={% url solution_detail solution_id=attest.solution.id%}>Solution {{attest.solution.id}}</a> 
	> Attestation {{attest.id}}
{% endif %}
{% endblock %}
{% block content %}<div id='attestation_view'>

<h1>{% trans "Attestation"%}: {{attest.solution.task.title}}</h1>
<p id='author'>by {{attest.author.get_full_name}} {% if show_author or user|in_group:"Trainer" or attest.published %} for {{attest.solution.author}} {% endif %}</p>

{% if attest.private_comment %}
	{% if user|in_group:"Trainer" or user|in_group:"Tutor"  %}
		<div class="section private">
			<h2>Private Comment</h2>
			<p>{{attest.private_comment}}</p>	
		</div>
	{% endif %}
{% endif %}

{% if attest.public_comment %}
	<div class="section">
		<h2>Comment</h2>
		<p>{{attest.public_comment|linebreaks}}</p>	
	</div>
{% endif %}

{% if attest.final_grade or attest.ratingresult_set.all %}
	<div class="section">
		<h2>Ratings</h2>
		{% for ratingresult in attest.ratingresult_set.all%}
			<div class="result">
				<h3 href="#">{{ratingresult.rating.aspect.name}}: <span class="mark">{{ratingresult.mark}}</h3>
				<p>{{ratingresult.aspect.description}}</p>
			</div>
		{%endfor%}
		{% if attest.final_grade %} 
			<div class="result">
				<h3 href="#">Final grade: <span class="mark">{{attest.final_grade}}</h3>
			</div>
		{% endif %}
	</div>
{% endif %}


{% if user|in_group:"Trainer" or user|in_group:"Tutor" %}
	<div class="section private">
		<h2>Checker results</h2>
		{% with attest.solution.checkerresult_set.all as results %}
			{% include "solutions/checker_results_inline.html" %}
		{% endwith %}
	</div>
{% endif %}

<a href={% url solution_download solution_id=attest.solution.id %} id='download'><span class="ui-icon ui-icon-disk"></span>Download Solution</a>
<h2>{% trans "Annotated Files" %}</h2>
<div class="filetabs">
	<ul>
		{% for anotfile in attest.annotatedsolutionfile_set.all%}
			<li><a href="#file{{forloop.counter}}">{{anotfile}}{% if anotfile.has_anotations%}<span class="has_anotations">*</span>{% endif %}</a></li> 
		{%endfor%} 
	</ul> 	

	{% for anotfile in attest.annotatedsolutionfile_set.all%}
		<div class="file" id="file{{forloop.counter}}">
			<h3>{{solutionfile}}</h3>
			<div class="content">{{anotfile.content_diff|highlight_table:anotfile.solution_file.file.name|highlight_diff}}</div>
		</div>
	{%endfor%}
</div>

{% if submitable %}
	<br/><br/>
	<form method="post">{% csrf_token %}
		{% include "forms/form_as_div.html" %}
		<input type="submit" name="save" value="Save" />
		<input id="publishButton" type="submit" name="publish" value="Save and publish" />
		<input type="button" value="Edit again" onClick="parent.location='{% url edit_attestation attest.id %}'">
	</form>
{% endif %}
{% endblock %}
