{% extends "base.html" %}
{% load i18n %}{% load markup  %}
{% block extrahead %}{{ block.super }}
	<script type="text/javascript" src="{{STATIC_URL}}frameworks/jquery/jquery.Storage.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}script/solution_inlines.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}script/confirm_close.js"></script>
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}styles/pygments_friendly.css" />

	<script src="{{STATIC_URL}}frameworks/ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}frameworks/ace/src-min/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}frameworks/ace/src-min/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="{{STATIC_URL}}script/ace-utils.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#file_form_set").addClass("hidden");
			$("#file_form_set_replacement").removeClass("hidden");
			$(".heading").addClass("hidden");

			$("#tabs").tabs({ // instanciate tabs
				show: function(event, ui) { 	// call dimensionsChanged of bespin when the tab is opend
	    			if (ui.panel.id == "annotated_solution_files") { env.editor.resize(); }
				},
				select:	function(event, ui) {
				  	  if (ui.panel.id == "download") {
					    window.open("{% url solution_download solution_id=solution.id %}","Download");
					    return false;
					  } else if (ui.panel.id == "download_full") {
					    window.open("{% url solution_download solution_id=solution.id full="full" %}","Download");
					    return false;
					  } else return true;
				}
			})

			// ACE setup
			$("#tabs").tabs("option", "active", 3 );
			$(".annfile").each(function(idx, elem){
				var content= $("#id_attestfiles-" + idx + "-content");
				var name = $(elem).data('filename');
				var editor = ace.edit(elem);
				editor.getSession().setValue(content.val());
				editor.getSession().setMode(guessMode(name));
				editor.getSession().on('change', function(e) {
					var content= $("#id_attestfiles-" + idx + "-content");
					content.val(editor.getSession().getValue());
					somethingWasChanged = true;
				});
			});

		});

	</script>
{% endblock %}
{% block breadcrumbs %} {{block.super}} > <a href={% url task_detail task_id=solution.task.id%}>{{solution.task.title}}</a> > <a href={% url attestation_list solution.task_id %}>My attestations</a> > Attestation {% endblock %}
{% block content %}<div id='attestation_edit'>

<form enctype="multipart/form-data" method="post" action="">{% csrf_token %}	
	
<div id="form_actions">
	<input type="submit" value="Save/Preview"/ id="id_save">
	<input type="button" value="Discard/Back" onClick="parent.location='{% url attestation_list solution.task_id %}'">
</div>

<h1>{{solution.task.title}}</h1>
<p id='author'>{% if show_author%} Solution by: {{solution.author}} {% endif %}</p>

	
	
	<div id="tabs">
		<ul>
			<li><a href="#task">Task</a></li>
			<li><a href="#model_solution">Model solution</a></li>
			<li><a href="#solution">Solution</a></li>
			<li><a href="#annotated_solution_files">Annotate solution files</a></li>
			<li><a href="#attestation">Attest solution</a></li>
			<li><a href="#download"><span class="ui-icon ui-icon-circle-triangle-s"></span>Download</a></li>
			<li><a href="#download_full"><span class="ui-icon ui-icon-circle-triangle-s"></span>Download (incl. checker files)</a></li>
		</ul>
		
		<div id="task">
			<h1 class="heading">Task</h1>
			{{solution.task.description|markdown:"codehilite"}}
		</div>
		
		<div id="model_solution">
				{% with model_solution.allCheckerResults as results %}
					{% include "solutions/checker_results_inline.html" %}
				{% endwith %}	
				<br/>
				{% with model_solution.solutionfile_set.all as solutionfiles %}
					{% include "solutions/solution_files_inline.html" %}
				{% endwith %}
		</div>
		
		
		<div id="solution">
			<h1 class="heading">Checker results</h1>
			{% with solution.allCheckerResults as results %}
				{% include "solutions/checker_results_inline.html" %}
			{% endwith %}
			<br/>
			{% with solution.solutionfile_set.all as solutionfiles %}
				{% include "solutions/solution_files_inline.html" %}
			{% endwith %}
		</div>

		
		<div id="annotated_solution_files">
			<h1 class="heading">Checker results</h1>
			{% with solution.allCheckerResults as results %}
			{% include "solutions/checker_results_inline.html" %}
			{% endwith %}
			<h1 class="heading">Annotated solution files</h1>
			<div id="file_form_set">
				{% with attestFileFormSet as formset %}	
					{% include "forms/formset_as_div.html" %}
				{% endwith %}
			</div>
			{% with solution.solutionfile_set.all as solutionfiles %}
				<div class="filetabs">
					<ul>
						{% for solutionfile in solutionfiles %}
							<li><a href="#annfile{{forloop.counter}}">{{solutionfile}}</a></li> 
						{%endfor%} 
					</ul> 	

					{% for solutionfile in solutionfiles%}
						<div class="file" id="annfile{{forloop.counter}}">
						      <h3>{{solutionfile}}</h3>
						      <div class="annfile" data-filename="{{solutionfile}}"></div>
						</div>
					{%endfor%}
				</div>
			{% endwith %}
		</div>
	
	
		<div id="attestation">
			<h1 class="heading">Attestation</h1>

				{% with attestForm as form %}	
					{% include "forms/form_as_div.html" %}
				{% endwith %}
				{% with ratingResultFormSet as formset %}	
					{% include "forms/formset_as_div.html" %}
				{% endwith %}

		</div>
		<div id="download">
		  <a href="{% url solution_download solution_id=solution.id %}">Download</a>
		</div>
		<div id="download_full">
		  <a href="{% url solution_download solution_id=solution.id full="full" %}">Download</a>
		</div>
	</div>
	<div>
		<span><a href="#" onClick='$("#tabs").tabs("select",3); setTimeout(function() {$("#editor_controls")[0].scrollIntoView()},100);'>Annotate Solution Files</a></span>
		<span><a href="#" onClick='$("#tabs").tabs("select",4);                                                                 '>Attest Solution</a></span>
	</div>
</form>
</div>


{% endblock %}
