{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}/frameworks/dotdotdot/jquery.dotdotdot.js"></script>
{% endblock %}
{% block breadcrumbs %} {{block.super}} > <a href={% url "task_detail" task_id=task.id%}>{{task.title}}</a> > Attestations{% endblock %}
{% block content %}<div id='attestation_list'>

<h1>{{task.title}}</h1>

<div id='help_icon'><span class="icon icon-orange ui-icon-info"></span></div>
<div class="tooltip">
	<span class="icon ui-icon-radio-on icon-orange" title="not finished"></span> <a>not finished</a><br/>
	<span class="icon ui-icon-check icon-green" title="final unpublished"></span> <a>final but unpublished</a><br/>
	<span class="icon ui-icon-circle-check icon-green" title="final published"></span> <a>final and published</a><br/>
	<span class="icon ui-icon-search" title="view only"></span> <a>view only</a><br/>
</div>

		<div id="Solutions">
			<div>There already are Attestations for the <a href={% url "solution_detail" solution_id=solution.id %}>specified solution</a>. Do you want to <a href={% url "new_attestation_for_solution" solution_id=solution.id force_create='force_create'%}>force the creation</a> of another Attestation?

			</div>
			<h2>{% trans "Existing Attestationss" %}</h2>
			{% for attestation in attestations%}
					<div class='attestation'>
						<span class="icon ui-icon-search" title="view only"></span>
						<a href={% url "view_attestation" attestation_id=attestation.id%}>Attestation for {% if show_author %}{{attestation.solution.author}}{% else %}Solution ({{forloop.counter}}){% endif %}</a> by {{attestation.author}}
						{% if attestation.solution.plagiarism %}
							<span class='plagiarism error'><span class="icon ui-icon-alert icon-red"></span>{% trans "Marked as Plagiarism" %}</span>
						{% endif %}
						<span class='comment dotdotdot'>{{ attestation.private_comment}}</span>
						<span style="float:right">Created: {{attestation.created|date:"Y-m-d H:i"}}</span>
						<br/>
					</div>
			{% endfor %}
		</div>
</div>{% endblock %}
