{% load i18n %}{% autoescape off %}{% trans "Hello " %}{{attest.solution.author}},
{% with attest.solution.task as task %}
{% if invisible_attestor %}
{% blocktrans %}your solution to the task "{{task}}" has been attested.{% endblocktrans %}
{% else %}
{% blocktrans %}your solution to the task "{{task}}" has been attested by {{by}}.{% endblocktrans %}
{% endif %}
{% endwith%}

You can view your attest here:
{{protocol}}://{{ domain }}{% url "view_attestation" attestation_id=attest.id %}

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
