{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{{STATIC_URL}}/frameworks/dotdotdot/jquery.dotdotdot.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}/frameworks/jquery.easy-confirm-dialog/jquery.easy-confirm-dialog.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$("#help_icon").tooltip({
		position:  "center left"
	});
	$("#edit_soluton_button").click(function(){
		location.href = $("#user_selector")[0].value;
	});
	$("#attest_selected_user_button").click(function(){
		location.href = $("#solution_selector")[0].value;
	});
	$(".dotdotdot").each(function(){
		$(this).dotdotdot({
			callback: function (isTruncated, orgContent) {
				if (isTruncated) {
					$(this).attr('title',$(orgContent).text());
				}
			}
		});
	});
	$(".confirm").easyconfirm({
		locale: {
			title: 'Are you sure?',
			text: 'Really publish all final attestations?',
			button: ['Cancel','Publish'],
			closeText: 'Cancel',
			},
		eventType:
			'submit'
	})
})

</script>
{% endblock %}
{% block breadcrumbs %} {{block.super}} > <a href={% url "task_detail" task_id=task.id%}>{{task.title}}</a> > Attestations{% endblock %}
{% block content %}<div id='attestation_list'>

<h1>{{task.title}}</h1>

<div id='help_icon'><span class="icon icon-orange ui-icon-info"></span></div>
<div class="tooltip">
	<span class="icon ui-icon-radio-on icon-orange" title="not finished"></span> <a>not finished</a><br/>
	<span class="icon ui-icon-check icon-green" title="final unpublished"></span> <a>final but unpublished</a><br/>
	<span class="icon ui-icon-circle-check icon-green" title="final published"></span> <a>final and published</a><br/>
	<span class="icon ui-icon-search" title="view only"></span> <a>view only</a><br/>
</div>

{% if user.is_tutor or user.is_trainer %}
<ul>
  <li><a href="{% url "upload_test_solution" task_id=task.id %}">Upload a test solution</a></li>
  <li><a href="{% url "solution_download_for_task" task_id=task.id %}">Download all solutions</a></li>
  <li><a href="{% url "solution_download_for_task_artifacts" task_id=task.id %}">Download all solutions, including artifacts</a></li>
  <li><a href="{% url "solution_download_for_task_full" task_id=task.id %}">Download all solutions, including artifacts and checker files</a></li>
</ul>
{% endif %}

{% if tutored_users %}
  <p>
  <h2>Upload solutions in a students name</h2>
	<select id="user_selector">
		{% for user in tutored_users %}
			<option value="{% url "solution_list" task_id=task.id user_id=user.id %}">{{user.last_name}}, {{user.first_name}}</option>
		{% endfor %}
	</select>
	<input id="edit_soluton_button" type="button" value="Edit Solutions"/></br></br>
  </p>
{% endif %}

{% if not task.expired %}
	<p>{% trans "The task is not yet expired." %}</p>
{% else %}
	{% if not task.all_checker_finished %}
		<p>{% trans "Not all checker have yet been run." %}</p>
	{% else %}

		<div id="Solutions">

			{% if user.is_trainer %}
				<h2>{% trans "Attestation Progress by Tutor" %}</h2>
				<div class='attestation'>
					<table class="attestationprogress">
						<tr>
                                                      <th>Tutor</th>
                                                      <th>Unrated</th>
                                                      <th>Not final</th>
                                                      <th>Final</th>
                                                      <th>Total</th>
						</tr>
					{% for entry in attestation_stats %}
						<tr class="{% if entry.unattested != 0 %}          some_unattested
						           {% else %} {% if entry.nonfinal != 0 %} some_nonfinal
							              {% else %}                     all_final
								      {% endif %}
							   {% endif %}">
                                                      <td>{{entry.tutor.first_name}} {{entry.tutor.last_name}} <a class="mail" href="mailto:{{entry.tutor.email}}"><span class="icon ui-icon-mail-open"></span></a></td>
                                                      <td>{{entry.unattested}}</td>
                                                      <td>{{entry.nonfinal}}</td>
                                                      <td>{{entry.final}}</td>
                                                      <td>{{entry.total}}</td>
						</tr>
					{% endfor %}
					{% if no_tutorial_stats.unattested %}
						<tr>
							<td></td><td></td><td></td><td></td><td></td>
						</tr>
						<tr class="{% if entry.unattested != 0 %}          some_unattested
						           {% else %} {% if entry.nonfinal != 0 %} some_nonfinal
							              {% else %}                     all_final
								      {% endif %}
							   {% endif %}">
                                                      <td>None</td>
                                                      <td>{{no_tutorial_stats.unattested}}</td>
                                                      <td>{{no_tutorial_stats.nonfinal}}</td>
                                                      <td>{{no_tutorial_stats.final}}</td>
                                                      <td>{{no_tutorial_stats.total}}</td>
						</tr>
					{% endif %}
					</table>
				</div>

				<h2>{% trans "Unattested solutions" %}</h2>
				<div class='attestation'>
					{% for solution in unattested_solutions %}
						<span class="icon ui-icon-search" title="view only"></span> <a href="{% url "solution_detail" solution_id=solution.id %}">Solution by {{solution.author}}</a></br>
					{% empty %}
						<p>All solutions have been attested.</p>
					{% endfor %}
				</div>
			{% endif %}

			{% if user.is_tutor %}
				{% if show_author %}
				<div>
					<select id="solution_selector" {% if unattested_solutions|length == 0 %}disabled="disabled"{% endif %}>
						{% for solution in unattested_solutions %}
						<option value="{% url "new_attestation_for_solution" solution_id=solution.id %}">{{solution.author.last_name}}, {{solution.author.first_name}}</option>
						{% endfor %}
					</select>
					<input id="attest_selected_user_button" type="button" value="Attest selected user" {% if unattested_solutions|length == 0 %}disabled="disabled"{% endif %}/>
				</div>
				{% endif %}
				<div style="margin-top:50px">
					<input id="next_attestation_button" type="button" value="Attest next solution" {% if unattested_solutions|length == 0 %}disabled="disabled"{% endif %} onclick="location.href ='{% url "new_attestation_for_task" task_id=task.id %}'"/>
				</div>
				{{ unattested_solutions|length }} solutions to attest.</br></br></br>
			{% endif %}

			{% if solutions_with_plagiarism %}
				{% if show_author %}
			<span class='plagiarism error'><span class="icon ui-icon-alert icon-red"></span>The solutions of{% for solution in solutions_with_plagiarism %} {{solution.author}}{%if not forloop.last%}, {%endif%}{% endfor %} have been marked as plagiarism.</span>
				{% else %}
					<span class='plagiarism error'><span class="icon ui-icon-alert icon-red"></span>{{solutions_with_plagiarism|length}} solutions have been marked as plagiarism.</span>
				{% endif %}
			{% endif %}

			{% if my_attestations %}
				<h2>{% trans "My attestations" %}</h2>
				{% for attestation in my_attestations%}
					<div class='attestation'>
						{% if attestation.final %}
							{% if attestation.published %}
								<span class="icon ui-icon-circle-check icon-green" title="final published"></span>
							{% else %}
								<span class="icon ui-icon-check icon-green" title="final unpublished"></span>
							{% endif %}
						{% else %}
							<span class="icon ui-icon-radio-on icon-orange" title="not finished"></span>
						{% endif %}
						<a
							{% if attestation.final %}
								href="{% url "view_attestation" attestation_id=attestation.id%}"
							{% else %}
								href="{% url "edit_attestation" attestation_id=attestation.id%}"
							{% endif %}
						>
							Attestation for {% if show_author %}{{attestation.solution.author}}{% else %}Solution {{forloop.counter}}{% endif %}
						</a>
						{% if attestation.solution.plagiarism %}
							<span class='plagiarism error'><span class="icon ui-icon-alert icon-red"></span>{% trans "Marked as Plagiarism" %}</span>
						{% endif %}
						<span class="comment dotdotdot">{{ attestation.private_comment}}</span>
					</div>
				{% endfor %}
			{% endif %}


			{% if attestations_by_others %}
				<h2>{% trans "Attestations by other tutors" %}</h2>
				{% for attestation in attestations_by_others%}
					<div class='attestation'>
						{% if attestation.final %}
							{% if attestation.published %}
								<span class="icon ui-icon-circle-check icon-green" title="final published"></span>
							{% else %}
								<span class="icon ui-icon-check icon-green" title="final unpublished"></span>
							{% endif %}
						{% else %}
							<span class="icon ui-icon-radio-on icon-orange" title="not finished"></span>
						{% endif %}
						<a href={% url "view_attestation" attestation_id=attestation.id%}>Attestation for {% if show_author %}{{attestation.solution.author}}{% else %}Solution {{forloop.counter}}{% endif %}</a> by {{attestation.author}}
						{% if attestation.solution.plagiarism %}
							<span class='plagiarism error'><span class="icon ui-icon-alert icon-red"></span>{% trans "Marked as Plagiarism" %}</span>
						{% endif %}
						<span class='comment dotdotdot'>{{ attestation.private_comment}}</span>
						<span style="float:right">Created: {{attestation.created|date:"Y-m-d H:i"}}</span>
					</div>
				{% endfor %}
			{% endif %}

			{% if user.is_tutor and not task.only_trainers_publish %}
				{% with c=publishable_tutorial.count %}
				<form enctype="multipart/form-data" class="confirm" method="post" action="">{% csrf_token %}
					<input type="hidden" name="what" value="tutorial"/>
					<input type="submit"
					       value="Publish {{ c }} final attestation{{ c|pluralize }} from my tutorial"
					       {% if not c %} disabled {% endif %}
					/>
				</form>
				{% endwith %}
			{% endif %}

			{% if all_attestations %}
				<h2>{% trans "All attestations" %}</h2>
				{% for attestation in all_attestations %}
					<div class='attestation' style="clear:right">
						{% if attestation.final %}
							{% if attestation.published %}
								<span class="icon ui-icon-circle-check icon-green" title="final published"></span>
							{% else %}
								<span class="icon ui-icon-check icon-green" title="final unpublished"></span>
							{% endif %}
						{% else %}
							<span class="icon ui-icon-radio-on icon-orange" title="not finished"></span>
						{% endif %}
						<a href={% url "view_attestation" attestation_id=attestation.id%}>Attestation for {% if show_author %}{{attestation.solution.author}}{% else %}Solution {{forloop.counter}}{% endif %}</a> by {{attestation.author}}
						{% if attestation.solution.plagiarism %}
							<span class='plagiarism error'><span class="icon ui-icon-alert icon-red"></span>{% trans "Marked as Plagiarism" %}</span>
						{% endif %}
						<span class='comment dotdotdot'>{{ attestation.private_comment}}</span>
						<span style="float:right">Created: {{attestation.created|date:"Y-m-d H:i"}}</span>
					</div>
				{% endfor %}
			{% endif %}

			{% if user.is_trainer %}
				{% with c=publishable_all.count %}
				<form enctype="multipart/form-data" class="confirm" method="post" action="">{% csrf_token %}
					<input type="hidden" name="what" value="all"/>
					<input type="submit"
					       value="Publish {{ c }} final attestation{{ c|pluralize }} from this task"
					       {% if not c %} disabled {% endif %}
					/>
				</form>
				{% endwith %}
			{% endif %}

		</div>
	{% endif %}
{% endif %}
</div>{% endblock %}
