{% extends "base.html" %}
{% load i18n %}
{% block extrahead %}{{ block.super }}
	<script type="text/javascript" src="{{STATIC_URL}}frameworks/jquery/jquery.Storage.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}script/solution_inlines.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}script/confirm_close.js"></script>
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}styles/pygments_friendly.css" />

	<script src="{{STATIC_URL}}frameworks/ace/src-min/ace.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}frameworks/ace/src-min/theme-twilight.js" type="text/javascript" charset="utf-8"></script>
	<script src="{{STATIC_URL}}frameworks/ace/src-min/mode-javascript.js" type="text/javascript" charset="utf-8"></script>
	<script type="text/javascript" src="{{STATIC_URL}}script/ace-utils.js"></script>
	<script type="text/javascript" src="{{STATIC_URL}}script/mode-isabelle.js"></script>

	<script type="text/javascript">
		$(document).ready(function(){
			$("#file_form_set").addClass("hidden");
			$("#file_form_set_replacement").removeClass("hidden");
			$(".heading").addClass("hidden");

			$("#tabs").tabs({ // instanciate tabs
				beforeActivate:
					function(event, ui) {
					  var id = ui.newPanel.attr('id');
					  if (id == "download") {
					    window.open("{% url "solution_download" solution_id=solution.id %}","Download");
					    return false;
					  } else if (id == "download_full") {
					    window.open("{% url "solution_download_full" solution_id=solution.id %}","Download");
					    return false;
					  } else
					    return true;
				}
			})
			$("#tabs").tabs("option", "active", 3 );

			// ACE setup
			// General plan:
			//  * JQuery-UI Tab with one tab per file, but only one panel
			//  * One session per file, stored via .data at the tab
			//  * Switching tabs changes the session
			//  * Switching copies(!) the errorlist to a visible part
			//  * Every change is directly reflected in the hidden textarea
			var editor = ace.edit("editor");
			$(".anntabs ul li a").each(function(idx, elem){
				var fileid = $(this).data('solutionfileid');
				var hidden_input = $('input').filter(function() { return this.value == fileid});
				var content = $(hidden_input).siblings('textarea');
				var name = $(elem).text();
				var session = new ace.EditSession(content.val())
				session.setMode(guessMode(name));
				session.on('change', function(e) {
					//var content= $("#id_attestfiles-" + idx + "-content");
					content.val(session.getValue());
					somethingWasChanged = true;
				});
				$(elem).data('textarea', content);
				$(elem).data('ace-session', session);
			});
			var switch_to = function(anntab) {
				// Remove existing errorlist (if present)
				$("#editor").prev(".errorlist").remove();
				// Copy errorlist to visible part
				$(anntab).data('textarea')
					.next(".errorlist")
					.clone()
					.insertBefore("#editor");

				editor.setSession($(anntab).data('ace-session'));
				$('#wordwrap').prop('checked', editor.getSession().getUseWrapMode());
			}
			$(".anntabs").tabs({
				beforeActivate: function (e,ui) {
					switch_to($(ui.newTab).find('a'));
				}
			});
			$('#wordwrap').change(function() {
					editor.getSession().setUseWrapMode($(this).is(':checked'));
			});
			switch_to($(".anntabs ul li a").get($(".anntabs").tabs('option','active')));
		});


	</script>
{% endblock %}
{% block breadcrumbs %} {{block.super}} > <a href={% url "task_detail" task_id=solution.task.id%}>{{solution.task.title}}</a> > <a href={% url "attestation_list" solution.task_id %}>My attestations</a> > Attestation {% endblock %}
{% block content %}<div id='attestation_edit'>

<form enctype="multipart/form-data" method="post" action="">{% csrf_token %}

<div id="form_actions">
	<input type="submit" value="Save/Preview"/ id="id_save">
	<input type="button" value="Discard/Back" onClick="parent.location='{% url "attestation_list" solution.task_id %}'">
</div>

<h1>{{solution.task.title}}</h1>
<p id='author'>{% if show_author%} Solution by: {{solution.author}} {% endif %}</p>



	<div id="tabs">
		<ul>
			<li><a href="#task">Task</a></li>
			{% if model_solution %}
			<li><a href="#model_solution">Model solution</a></li>
			{% endif %}
			<li><a href="#solution">Solution</a></li>
			<li><a href="#annotated_solution_files">Annotate solution files</a></li>
			<li><a href="#attestation">Attest solution</a></li>
			<li><a href="#download"><span class="ui-icon ui-icon-circle-triangle-s"></span>Download</a></li>
			<li><a href="#download_full"><span class="ui-icon ui-icon-circle-triangle-s"></span>Download (incl. checker files)</a></li>
		</ul>

		<div id="task">
			<h1 class="heading">Task</h1>
			{{solution.task.description|safe}}
		</div>

		{% if model_solution %}
		<div id="model_solution">
				{% with model_solution.allCheckerResults as results %}
					{% include "solutions/checker_results_inline.html" %}
				{% endwith %}
				<br/>
				{% with model_solution.displayableSolutionFiles as solutionfiles %}
					{% include "solutions/solution_files_inline.html" %}
				{% endwith %}
		</div>
		{% endif %}


		<div id="solution">
			<h1 class="heading">Checker results</h1>
			{% if show_run_checkers %}
			<div style="text-align:right">
				<span class="ui-icon ui-icon-play"></span>
				<a href="{% url "attestation_run_checker" attestation_id=attestForm.instance.id %}">re-run all checkers</a>
			</div>
			{% endif %}
			{% with solution.allCheckerResults as results %}
				{% include "solutions/checker_results_inline.html" %}
			{% endwith %}
			<br/>
			{% with solution.displayableSolutionFiles as solutionfiles %}
				{% include "solutions/solution_files_inline.html" %}
			{% endwith %}
		</div>


		<div id="annotated_solution_files">
			<h1 class="heading">Checker results</h1>
			{% if show_run_checkers %}
			<div style="text-align:right">
				<span class="ui-icon ui-icon-play"></span>
				<a href="{% url "attestation_run_checker" attestation_id=attestForm.instance.id %}">re-run all checkers</a>
			</div>
			{% endif %}
			{% with solution.allCheckerResults as results %}
			{% include "solutions/checker_results_inline.html" %}
			{% endwith %}
			<h1 class="heading">Annotated solution files</h1>
			<div id="file_form_set">
				{% with attestFileFormSet as formset %}
					{% include "forms/formset_as_div.html" %}
				{% endwith %}
			</div>
			{% with attestFileFormSet.get_queryset.all as solutionfiles %}
				<div class="anntabs">
					<ul>
						{% for solutionfile in solutionfiles %}
							<li><a href="#editor" data-solutionfileid="{{solutionfile.pk}}">{{solutionfile}}</a></li>
						{%endfor%}
					</ul>
					<div id="editor"></div>
				</div>
			{% endwith %}
					<div id="editorOptions" style="margin-bottom:25px">
						<h2>Editor Options</h2>
						<input id="wordwrap" type="checkbox" name="wordwrap" style="float: left;" value="check1"/><label for="wordwrap">word wrap</label>
					</div>
		</div>

		<div id="attestation">
			<h1 class="heading">Attestation</h1>

				{% with attestForm as form %}
					{% include "forms/form_as_div.html" %}
				{% endwith %}
				{% with ratingResultFormSet as formset %}
					{% include "forms/formset_as_div.html" %}
				{% endwith %}

		</div>
		<div id="download">
		  <a href="{% url "solution_download" solution_id=solution.id %}">Download</a>
		</div>
		<div id="download_full">
		  <a href="{% url "solution_download_full" solution_id=solution.id %}">Download</a>
		</div>
	</div>
</form>
{% for snippet in htmlinjector_snippets %}
		<div class="snippet">
			{{snippet|safe}}
		</div>
{% endfor %}
</div>


{% endblock %}
