{% extends "base.html" %}
{% load highlight %} {% load i18n  %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript">
	window.onload = function() {

	    $(".calculated_grade_cell").hover(
			function () {
				$(this).append($("<span class='icon ui-icon-arrowreturnthick-1-e'></span>"));
			},
			function () {
				$(this).find("span:last").remove();
			}
		);

		$(".calculated_grade_cell").click(function () {
			$(this).next().find("input[type=text]")[0].value = $.trim($(this).text());
		});

	};

	function takeAll(){
		$(".calculated_grade_cell").click();
	}
</script>
{% endblock %}

{% block breadcrumbs %} {{block.super}} > Rating Overview {% endblock %}
{% block content %}<div id="rating">
<h2>{% trans "Rating Overview" %}</h2>


<form method="post" action="">
{% csrf_token %}

{% if full_form %}

		The

		{{ final_grade_option_form.final_grades_arithmetic_option }}

		of all grades

		{{ final_grade_option_form.final_grades_plagiarism_option }}

		plagiarism grades will be calculated as the final grades. <br>

		<input type="submit" value="Calculate" name="calculate" id="calculate_button" /><br>
{% endif %}

    {{ final_grade_formset.management_form }}

	<table class="noLinkHighlight">
		<tr>
			<th>User</th>
			<th>MatrNo</th>
			<th>Programme</th>
			{% for task in tasks %}
				<th><div class="heading"><a href="{% url "task_detail" task_id=task.id  %}">{{task.title}}</a></div></th>
			{% endfor %}
			<th><div class="heading" id="calculated_grade_heading">Calculated grade</div></th>
			{% if full_form %}
			<th>Final grade</th>
			{% endif %}
			<th>Threshold</th>
			<th>Warnings</th>
			<th></th>
		</tr>
		{% for user, attestations, threshold, calculated_grade in rating_list %}
			<tr class="{% cycle 'odd' 'even' %} user_row">
				<td><a href="mailto:{{user.email}}">{{user.get_full_name}}</a></td>
				<td>{{user.mat_number}}</td>
				<td>{{user.programme}}</td>

				{% for attestation, solution in attestations %}
					<td class="grade_cell">
					{% if attestation.final_grade %}
						<a href="{% url "view_attestation" attestation_id=attestation.id%}">{{attestation.final_grade}}</a>
					{% else %}
						{% if solution %}
							<a href="{% url "solution_detail" solution_id=solution.id%}">?</a>
						{% else %}
							-
						{% endif %}
					{% endif %}
					{% if solution.plagiarism %}
						<span class="icon ui-icon-alert icon-red" title="Marked as plagiarism"></span>
					{% else %}
					{% endif %}
					</td>
				{% endfor %}
				<td class="calculated_grade_cell">
					{{ calculated_grade }}
				</td>
				{% if full_form %}
				<td>
					{% with final_grade_formset.forms.pop as form %}
						{% for field in form.hidden_fields %} {{field}} {% endfor %}
						{{ form.final_grade }}
					{% endwith %}
				</td>
				{% endif %}
				<td>{{threshold}}</td>
				<td>
					{% if calculated_grade < threshold %}
						<span style="font-weight:bold; color:red"> Warning </span>
					{% endif %}
				</td>
			</tr>
		{% endfor %}
		{% if full_form %}
		<tr>
			<td></td>{% for task in tasks %}<td></td>{% endfor %}<td><a onClick="takeAll()">take all<span class='icon ui-icon-arrowreturnthick-1-e'></span></a></td><td></td>
		</tr>
		{% endif %}
	</table>
	{% if full_form %}
	{{publish_final_grade_form}}
	<input type="submit" name="save" value="Save Final Grades" />
	{% endif %}

	<div><a href="mailto:?bcc={% for user, _, _, _ in rating_list %}{{user.email}},{% endfor %}"><span class="icon ui-icon-mail-closed"></span>Email all users</a></div>
	<div><a href="mailto:?bcc={% for user, _, threshold, calculated_grade in rating_list %}{% if calculated_grade < threshold %}{{user.email}},{% endif %}{% endfor %}" id="warning_emails"><span class="icon ui-icon-mail-closed"></span>Email to users with warnings</a></div>
	<div><a href="{% url "rating_export" %}"><span class="icon ui-icon-extlink"></span>Export as csv (utf-8)</a></div>
</form>
</div>
{% endblock %}
