{% extends "base.html" %}
{% load highlight %} {% load i18n  %}
{% block extrahead %}{{ block.super }}{% endblock %}
{% block breadcrumbs %} {{block.super}} > Rating Overview {% endblock %}
{% block content %}<div id="tutorial">

{% if other_tutorials %}
	<h2>Other Tutorials</h2>
	<ul>
	{% for tutorial in other_tutorials %}
		<li><a href="{% url "tutorial_overview" tutorial_id=tutorial.id  %}">{{tutorial}}</a></li>
	{% endfor %}
	</ul>
{% endif %}

<h2>{{tutorial.name}}</h2>
{% for tutor in tutorial.tutors.all %}
	{% if not forloop.first %}, {% endif %}
	{{tutor}}
{% endfor %}

<div>
	<table class="noLinkHighlight">
		<tr>
			<th>User</th>
			{% for task in tasks %}
				<th><div class="heading"><a href="{% url "task_detail" task_id=task.id  %}">{{task.title}}</a></div></th>
				<th><div class="heading">Rating Aspects</div></th>
			{% endfor %}
			<th><div class="heading" id="calculated_grade_heading">Calculated grade</div></th>
			<th><div class="heading">Final grade</div></th>
		</tr>
		{% for user, attestations, _, calculated_grade in rating_list %}
			<tr class="{% cycle 'odd' 'even' %} user_row">
				<td><a href="mailto:{{user.email}}">{{user.get_full_name}}</a></td>

				{% for attestation, solution in attestations %}
				<td class="grade_cell">
					{% if attestation.id %}
						<a href="{% url "view_attestation" attestation_id=attestation.id%}">
					{% endif %}

					{% if attestation.final_grade %}
						{{attestation.final_grade}}
					{% else %}
						{% if solution %}
							?
						{% else %}
							-
						{% endif %}
					{% endif %}

					{% if solution.plagiarism %}
						<span class="icon ui-icon-alert icon-red" title="Marked as plagiarism"></span>
					{% endif %}


					{% if attestation.id %}
					</a>
					{% endif %}
				</td>
				<td class="grade_cell">
					&nbsp;
					[
					{% for ratingresult in attestation.ratingresult_set.all%}
						 {{ratingresult.rating.aspect.name}}: <span class="mark">{{ratingresult.mark}}</span>
					{%endfor%}
					]
				</td>
				{% endfor %}
				<td class="calculated_grade_cell">
					{{ calculated_grade }}
				</td>
				<td>
					{% if final_grades_published %}
						{{user.final_grade}}
					{% endif %}
				</td>
			</tr>
		{% endfor %}
			<tr>
				<th>Average:</td>
				{% for average in averages %}
				<td>{{average}}</td>
				<td></td>
				{% endfor %}
			</tr>
	</table>
	<br/>
	<a href="mailto:?bcc={% for user, _, _, _ in rating_list %}{{user.email}},{% endfor %}"><span class="icon ui-icon-mail-closed"></span>Email all users</a>

</div>
</div>
{% endblock %}
