{% comment %}
	include the folowing depenencies once in the including pages head:
	<script type="text/javascript" src="{{STATIC_URL}}script/solution_inlines.js"></script>
	<link type="text/css" rel="stylesheet" href="{{STATIC_URL}}styles/pygments_friendly.css" />
{% endcomment %}


{% load highlight %}
<div class="filetabs">
	<ul>
		{% for solutionfile in solutionfiles %}
			<li><a href="#file{{forloop.counter}}">{{solutionfile}}</a></li> 
		{%endfor%} 
	</ul> 	

	{% for solutionfile in solutionfiles%}
		<div class="file" id="file{{forloop.counter}}">
      <h3>{{solutionfile}}</h3>
      <div class="download">
        <span class="ui-icon ui-icon-disk"></span><a href={{solutionfile.file.url}}>Download</a>
      </div>
      <div class="content">
        {% if solutionfile.isImage %}
          <img src="{{solutionfile.file.url}}"/>
        {% elif solutionfile.isEmbeddable %}
	   <iframe src="{{solutionfile.file.url}}?view" width="100%" height="500">
	   (The preview requires iframe support)
	   </iframe>
        {% else %}
          {{solutionfile.content|highlight_table:solutionfile.file.name}}
        {% endif %}
      </div>
		</div>
	{%endfor%}
</div>
