{% load i18n %}{% autoescape off %}{% trans "Hello " %}{{solution.author}},

your upload solution of task "{{solution.task}}" at {{ datetime }} has failed because of an unsupported 
value in file name or file content:

ERROR was {{ errormsg }}

We are sorry for that.

Sadly, you have to fix your encoding problem and submit a new solution. 


Please note that you have *not* completed the task yet.

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
