{% load i18n %}{% autoescape off %}{% trans "Hello " %}{{solution.author}},

your solution to the task "{{solution.task}}" has been successfully uploaded.

You can view your solution here: {{protocol}}://{{ domain }}{% url "solution_detail" solution_id=solution.id %}

Your upload included these files:
{% for file in solution.solutionfile_set.all %}
	{% with file.get_signature as signature %}{{file}} [MD5:{{file.get_hash}}] {% if signature %}[SIGNATURE:{{signature}}]{% endif %} {% endwith%}
{% endfor %}

Please keep this email and the files you have uploded to verify that you've completed the task.

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
