{% load i18n %}{% autoescape off %}{% trans "Hello " %}{{solution.author}},

{% if uploader %}a{% else %}your{% endif %} solution to the task "{{solution.task}}" has been successfully uploaded{% if uploader %} in your name by trainer {{uploader}}{% endif %}.

You can view the uploaded solution here: {{protocol}}://{{ domain }}{% url "solution_detail" solution_id=solution.id %}

The upload included these files:
{% for file in solution.solutionfile_set.all %}
	{{file}} [SHA256:{{file.get_hash}}]
{% endfor %}

Please keep this email and the files you have uploaded to verify that you've completed the task.

{% trans "Thanks for using our site!" %}

{% blocktrans %}The {{ site_name }} team{% endblocktrans %}

{% endautoescape %}
